.sidebar {
  width: 265px;
  height: 100vh;
  background: #ffffff;
  transition: width 0.5s ease;
  padding: 20px 14px !important;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;



  

  .logo {
    font-size: 1.7rem !important;
    font-weight: bold;
    color: #7366ff;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 5px !important;
  }

  .menu {
    list-style: none;
    padding: 0;
    position: relative;
    height: 100% !important;

    li {
      height: 51px !important;
      cursor: pointer;
      overflow: hidden !important;
      display: flex;
      align-items: center;
      font-size: 15px !important;
      color: #4a4a4a;
      transition: all 0.3s ease;
      border-radius: 8px;
      font-weight: 500;
      position: relative;
      padding-left: 19px !important;
      margin-bottom: 5px !important;


      &:hover {
        background: #e8e5ff;
        color: #4a4a4a;
      }

      &.active {
        background: #7366ff;
        color: white;

        &::before {
          content: '';
          position: absolute;
          right: 6px;
          top: 50%;
          transform: translateY(-50%);
          height: 70%;
          width: 5px;
          background: white;
          border-radius: 3px;
        }
      }
      &.active:hover {
        background: #7366ff;
        color: white;
      }

      .span{
        overflow-y: hidden !important;
        overflow-x: hidden !important;
      }
    }

    .NIiu8668b{
      position: absolute;
      bottom: 0rem; 
      z-index: 10;
    }


  }
}



.sidebar h2{
  color: #7366ff !important;
  font-size: 1.7rem !important;
  font-weight: bold !important;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 80px;
}


.sidebar ul{
  display: flex !important;
  align-items: flex-start !important;
  justify-content: left !important;
  flex-direction: column !important;
  height: 100% !important;
}

.sidebar ul li{
  width: 100% !important;
}


.sidebar.collapsed .menu li span {
  display: none; /* Hide text when collapsed */
}

.sidebar.collapsed .menu li svg {
  margin-right: 0; /* Align icon properly */
}

/* You can also adjust other menu item styles for a better look when collapsed */
.sidebar .menu li svg {
  margin-right: 10px;
}




.sidebar.collapsed {
  width: 100px !important;
}

.logo{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo.spaced {
  padding-left: 20px; /* Or adjust based on the amount of space you want */
}


.logo img{
  height: 60px !important;
  width: auto !important;
  object-fit: cover !important;
  z-index: 2;
}




.logo button{
  position: absolute;
  right: 0px;
  height: 40px;
  width: 40px;
  border: 1px solid rgb(226, 232, 255);
  border-radius: 0.4rem;
  outline: none;
  transition: .15s all ease-in-out;
  background-color: #f3f2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.3rem !important;
}
.logo button:hover{
  background-color: #d8d3ff ;
}

.hideButtonAbsolute{
  display: none;
  opacity: 0;
  visibility: hidden;
}