<div class="container-fluid">
  <div class="row">
    <div class="col-xl-7" [ngStyle]="{'background':'linear-gradient(180deg, rgba(5,117,230,1) 0%, rgba(2,41,138,1) 85%, rgba(2,27,121,1) 100%)',
                                     'background-size': 'cover',
                                     'background-position': 'center center',
                                     'display': 'block','position': 'relative'}">
      <img class="bg-img-cover bg-center" src="assets/images/login/ACM-logo.png" alt="looginpage"
        style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%); width: 40%; height: 30%; opacity: 0.7;">
    </div>
    <div class="col-xl-5 p-0">
      <div class="login-card login-dark">
        <div>
          <div>
            <a class="logo text-start" href="#" align="center">
              <h5>Gestion Relation Client</h5>
              <!-- <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="looginpage">
              <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" alt="looginpage"> -->
            </a>
          </div>
          <div class="login-main">
            <!-- (submit)="login()" -->
            <div class="theme-form">
              <h4>Connectez-vous</h4>
              <!-- <p>Enter your email & password to login</p> -->
              <div class="form-group">
                <label class="col-form-label">Username / Email</label>
                <input class="form-control" type="text" [(ngModel)]="params.Login" required="" placeholder="Login">
              </div>
              <div class="form-group">
                <label class="col-form-label">Mot de passe</label>
                <input class="form-control" [type]="show ? 'text' : 'password'" [(ngModel)]="params.Password" required="" placeholder="*********">
                <div class="show-hide" (click)="show =! show" *ngIf="!show"><span class="show"></span></div>
                <div class="show-hide" (click)="show =! show" *ngIf="show"><span class="Hide"></span></div>
              </div>
              <div class="form-group mb-0">
                <div class="checkbox p-0">
                  <input id="checkbox1" type="checkbox" [(ngModel)]="params.StayConnected">
                  <label class="" for="checkbox1">Rester connecté</label>
                  <!-- <label class="text-muted" for="checkbox1">Rester connecté</label> -->
                </div>
                <a [routerLink]="'/authentication/forgot-password'" class="link">Mot de passe oublié?</a>
                <button class="btn btn-primary d-block w-100" type="submit" (click)="login()">Se connecter</button>
              </div>
              <!-- <h6 class="text-muted mt-4 or">Or Sign in with</h6>
              <div class="social mt-4">
                <div class="btn-showcase">
                  <a class="btn btn-light" href="https://www.linkedin.com/login" target="_blank">
                    <app-feather-icons [icon]="'linkedin'" class="txt-linkedin"></app-feather-icons> LinkedIn
                  </a>
                  <a class="btn btn-light" href="https://twitter.com/login?lang=en" target="_blank">
                    <app-feather-icons [icon]="'twitter'" class="txt-twitter"></app-feather-icons>twitter
                  </a>
                  <a class="btn btn-light" href="https://www.facebook.com/" target="_blank">
                    <app-feather-icons [icon]="'facebook'" class="txt-fb"></app-feather-icons>facebook
                  </a>
                </div>
              </div>
              <p class="mt-4 mb-0">Don't have account?
                <a [routerLink]="'/authentication/register/simple'" class="ms-2">Create Account</a>
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>