.docnjjdl{
    padding: 0;
    transition: .2s all ease-in-out;
    color: white ;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 0.5rem;
    font-size: 13px !important;
    border-radius: 6px;
    cursor: pointer;
    padding: 0 20px !important;
    width: auto !important;
    height: 41px; 
    outline: none !important;
    border: none !important;
    background-color: #7864fc;
}


.docnjjdl:hover{
    background-color: #533eda;
}