

.email-body{
    overflow-y: scroll;
    overflow-x: hidden;
}

.client-detailsx{
    position: absolute !important;
    top:  7px !important; /* Adjust as needed */
    right: 0.78rem; /* Adjust as needed */
    background-color: transparent !important; /* Optional: For a clear background */
    z-index: 9;
    padding: 2rem 5rem;
    border-top-right-radius: 0.43rem;
    height: auto !important;

}

.sfugusghsd{
    position: relative !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


.client-detailsx img{
    height: 120px !important;
    width: 120px !important;
    object-fit: cover !important;
    border-radius: 50% !important;
    border: 1px solid gainsboro;

}

.wiwiwi ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kikoolm ul li {
    display: flex;
    height: 33px ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.jdsf{
    margin-top: 1rem;
}

.sdfok  h5 {
    margin-top: 30px !important;
}

.sdfok ul li a{
    color: white;
    background-color:#7366fe;
    height: 33px;
    width: auto;
    padding: .4rem 1.5rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

}


.shdgusfhgosfx{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 88px !important;
    color: black !important;
}

.swduhuwhgohuswghosudgwhusd{
    object-fit: cover !important;
}


.soufhusduwghsuowhguosdhwgo{
    background-color: transparent !important;
    color :#7366fe !important;
    border: 1px solid #7366fe !important;
}



.email-left-aside .card .card-body .email-app-sidebar .media .media-size-email img{
    height: 50px !important;
    width : 50px !important;
    object-fit: cover !important;
    border-radius: 50% !important;
}


.card{
}

.f-w-600{
    margin-top: 12px !important;
}

.bsdogbsodgbsdgbodsgousdgobosdggou{
    border-top-right-radius: 0px  !important;
    border-bottom-right-radius: 0px !important;
}

.sfdowuhuosdghsdughsd{
    margin-top: 8px !important;
}

.ushdd8JN{
    display: flex !important;
    flex-direction: column !important;
    
}

.ushdd8JN h5:first-child{
    font-size: 17px !important;
    margin-top: 4px !important;
    margin-bottom: 0px !important;
}


.ushdd8JN h5:last-child{
    font-size: 15px !important;
    color: gray !important;
}

.sdfihdfushduhsdfohofusd88{
    padding: 0px !important;

    border-right: 1px solid rgb(229, 229, 229) !important;
    width: 100% !important;
    max-width: 360px !important;
}

.sdfihdfushduhsdfohofusd88 .active{
    border: none !important;
}

.HElnc{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
    padding: 0 0.666rem !important;
}

 .container-fluid .email-wrap .row .email-right-aside.active{
    background-color: #e8e6ff !important;
}


.container-fluid{
    padding-top: 1rem !important;
}


.card{
    height: calc(100vh -  150px) !important;
}


.container-fluid .row{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 1rem !important;
}

.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}







.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999999999999999999999;
  
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.88s ease, visibility 0.4s ease;
  }
  
  .loading-overlay.show {
    opacity: 1;
    visibility: visible;
  }



  .loader {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #7366fe;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  


.container-fluid .row .sfugusghsd .email-right-aside .active {
}


.container-fluid .row .sfugusghsd .email-right-aside .activeXXXXX  {
    background-color: #e3e0ff !important;
    border-radius: 0.666rem;
    position: relative !important;
    outline: none !important;
}


.container-fluid .row .sfugusghsd .email-right-aside .activeXXXXX::before {
    content: '' !important;
    position: absolute !important; 
    right: 8px !important;
    top: 12.5% !important;
    height: 75% !important;
    width: 6px !important;
    background: #a097ff !important;
    border-radius: 1rem !important;
    outline: none;

}

.container-fluid .XJN_8k a{
    background-color: rgb(238, 60, 60) !important;
    color: white !important;
}

.container-fluid .HInnohUHO{
    font-size: 13.6px !important;
    color: gray !important;
    font-weight: '500' !important;
    letter-spacing: 0px !important;
}