
<div
  [ngClass]="{ 'visible': showPopUpNotify }"
  class="popup-overlay"
  (click)="NePasContinuerCommeMeme()"
>
  <div
    class="popup-modal"
    (click)="preventClose($event)"
    [ngClass]="{ 'visible': showPopUpNotify }"
  >
  <h3 style="margin-bottom: 30px;">
    Vous n'êtes pas connecté à Google Calendar !
  </h3>
  <p>
    Vos tâches ne seront pas synchronisées avec Google Calendar, mais elles le seront ici.
  </p>
  <br>
  <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
      <button
        (click)="NePasContinuerCommeMeme()"
        style="
          color:#4538d4;
          background-color: #f1efff;
          border: 1px solid #d0c9ff;
          padding: 8px 16px;
          width: 30%;
          font-weight: 500;
          border: 1px solid transparent !important;
          border-radius: 7px;
          cursor: pointer;
        "
      >
        Fermer
      </button>
  
      <button
        (click)="ContinuerCommeMeme()"
        style="
          background: #7366fe;
          color: white;
          width: 67%;
          font-weight: 500;
          border: none;
          padding: 8px 16px;
          border-radius: 7px;
          cursor: pointer;
        "
      >
        Continuer comme même
      </button>
    </div>

  </div>
</div>




<div class="loading-overlay" [class.show]="isLoading">
  <div class="loader"></div>
</div>



<div class="container-fluid">
  <div class="email-wrap bookmark-wrap">
    <div class="row">




      <div class="col-xl-3 box-col-3 ">
        <div class="email-left-aside">
          <div class="card bsdogbsodgbsdgbodsgousdgobosdggou">
            <div class="card-body">
              <div class="email-app-sidebar left-bookmark">
                <ul class="nav main-menu contact-options" role="tablist">
                  
                  <li class="nav-item mt-3">
                    <div class="main-title HElnc">
                      <span>
                        Total des Clients : 
                      </span>
                      <span>
                        {{ Clients.length }}
                      </span>
                    </div>  
                  </li>

                  <li class="nav-item mt-3">
                    <button class="btn btn-primary w-100 fsigbisdhgfsdiufiudsf" type="button" (click)="AddClientButCheckConnectionWithGoogleCalendarFirst()">+ Ajouter un nouveau client</button>
                  </li>
                  <br><br>
                  <li class="nav-item mt-3">
                    <div class="main-title HElnc">
                      <span>
                        Synchronisation : 
                      </span>
                      <span>
                        &nbsp;
                      </span>
                    </div>
                  </li>
                  <br>


                  <li>
                    <div class="srfsdsdwg">
                      <div class="switch-container sfoidjisdfjidsfjdfs">
                        <div class="dni8H9b">
                          <img class="sfondsndfKKK" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Calendar_icon_%282020%29.svg/2048px-Google_Calendar_icon_%282020%29.svg.png" alt="google" />
                          <span>
                            <em>
                              {{ isConnectedToGoogleCalendar ? 'Connecté' : 'Déconnecté' }}
                            </em>
                          </span>
                        </div>
                        <button 
                          id="authorize_button" 
                          (click)="handleAuthClick()" 
                          class="docnjjdl" 
                          *ngIf="!isConnectedToGoogleCalendar" 
                          [disabled]="isLoadingAccToken"
                        >
                          Connexion
                        </button>
                        <button 
                          id="logout_button" 
                          (click)="handleLogout()" 
                          class="docnjjdl déconecion" 
                          *ngIf="isConnectedToGoogleCalendar" 
                          [disabled]="isLoadingAccToken">
                          Déconnexion
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-9 col-md-12 box-col-9 sfugusghsd">
            <div class="col-xl-8 xl-50 col-md-7 client-detailsx" *ngIf="CurrentClient != null">
              <div class="tab-content" id="v-pills-tabContent" [ngStyle]="{ display: IsEditingClient ? 'none' : '' }">
                <div class="tab-pane contact-tab-0 tab-content-child fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                  <div class="profile-mail">
                    <div class="media">
                      <div class="position-relative d-inline-block">
                        <img class="swduhuwhgohuswghosudgwhusd img-100 img-fluid m-r-20 rounded-circle update_img_0" [src]="CurrentClient.ImgSrc" alt="" />
                        <i class="fa fa-pencil position-absolute" style="top: 10px; right: 10px; font-size: 20px; width: 28.5px; height: 28.5px; color: white; background-color: #5e52e8; padding: 5px; border-radius: 50%; cursor: pointer" (click)="triggerFileInput()"></i>
                        <input class="updateimg" type="file" name="img" (change)="onProfileImageChange($event)" accept="image/*" style="display: none" #fileInput />
                      </div>

                      <div class="media-body wiwiwi  wiwiwiwiwiwiwiwiwi788 mt-0 sdfok">
                        <h5 class="sfdowuhuosdghsdughsd">
                          {{ CurrentClient.Prenom }}&nbsp;&nbsp;{{ CurrentClient.Nom }} 
                        </h5>
                        <span class="sifkjk8UBç9">
                          {{ CurrentClient.Email1 }}
                        </span>
                      </div>
  
                    </div>


                    <div class="media">
                      <div class="media-body wiwiwi wiwiwiwiwiwiwiwiwi mt-0 sdfok">
                        <ul>
                          <li><a href="javascript:void(0)" (click)="navigateToDetails(CurrentClient.ClientId)">Voir Détails</a></li>
                          <li><a href="javascript:void(0)" (click)="StartUpdateClient()">Modifier</a></li>
                          <li class="XJN_8k"><a href="javascript:void(0)" (click)="sweetAlertDelete(CurrentClient.ClientId)">Supprimer</a></li>
                        </ul>
                      </div>
                    </div>


                    <div class="email-general kikoolm">
                      <h6 class="mb-3 jdsf">Information Générale</h6>
                      <ul>
                        <li>
                          <span>Nom</span> <span class="font-primary first_name_0">{{ CurrentClient.Nom }}</span>
                        </li>
                        <li>
                          <span>Prénom</span> <span class="font-primary last_name_0">{{ CurrentClient.Prenom }}</span>
                        </li>
                        <!-- <li>Gender <span class="font-primary">Male</span></li> -->
                        <li>
                          <span>Date De Naissance</span> <span class="font-primary">{{ CurrentClient.DateNaissance | date : "dd/MM/yyyy" }} </span>
                        </li>
                        <!-- <li>Personality<span class="font-primary personality_0">Cool</span></li> -->
                        <!-- <li>City<span class="font-primary city_0">moline acres</span></li> -->
                        <li>
                          <span>Téléphone</span>
                          <span class="font-primary mobile_num_0">
                            {{ formatPhoneNumber(CurrentClient.Telephone1) }}
                            {{ CurrentClient.Telephone2 ? " / " + formatPhoneNumber(CurrentClient.Telephone2) : "" }}
                          </span>
                        </li>
                        <li>
                          <span>Email</span> <span class="font-primary email_add_0"> {{ CurrentClient.Email1 }}{{ CurrentClient.Email2 != null && CurrentClient.Email2 != "" ? " / " + CurrentClient.Email2 : "" }} </span>
                        </li>
                        <!-- <li>Website<span class="font-primary url_add_0">www.test.com</span></li> -->
                        <!-- <li>Interest<span class="font-primary interest_0">photography</span></li> -->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- #region EditClient -->
              <div class="contact-editform ps-0" [ngStyle]="{ display: !IsEditingClient ? 'none' : '' }">
                <div *ngIf="ClientToUpdate != null">
                  <div class="row g-2">
                    <div class="mt-0 mb-3 col-md-12">
                      <div class="row">
                        <div class="col-sm-6">
                          <label>Nom</label>
                          <input class="form-control" id="Nom" type="text" required="" placeholder="Nom" [(ngModel)]="ClientToUpdate.Nom" />
                        </div>
                        <div class="col-sm-6">
                          <label>Prénom</label>
                          <input class="form-control" id="Prenom" type="text" required="" placeholder="Prénom" [(ngModel)]="ClientToUpdate.Prenom" />
                        </div>
                      </div>
                    </div>
                    <div class="mt-0 mb-3 col-md-12">
                      <label>Date de naissance</label>
                      <input class="form-control" id="DateNaissance" type="date" required="" autocomplete="off" [(ngModel)]="ClientToUpdate.DateNaissance" />
                    </div>
                    <div class="mt-0 mb-3 col-md-12">
                      <label>Email 1</label>
                      <input class="form-control" id="Email1" type="text" required="" autocomplete="off" [(ngModel)]="ClientToUpdate.Email1" />
                    </div>
                    <div class="mt-0 mb-3 col-md-12">
                      <label>Email 2</label>
                      <input class="form-control" id="Email2" type="text" required="" autocomplete="off" [(ngModel)]="ClientToUpdate.Email2" />
                    </div>
                    <div class="mt-0 mb-3 col-md-12">
                      <label>Téléphone</label>
                      <div class="row">
                        <div class="col-sm-6">
                          <input class="form-control" id="Telephone1" type="text" required="" autocomplete="off" [(ngModel)]="ClientToUpdate.Telephone1" />
                        </div>
                        <div class="col-sm-6">
                          <input class="form-control" id="Telephone2" type="text" required="" autocomplete="off" [(ngModel)]="ClientToUpdate.Telephone2" />
                        </div>
                        <!-- <div class="col-sm-6"><select class="form-control"><option>Mobile</option><option>Work</option><option>Others</option></select></div> -->
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-secondary soufhusduwghsuowhguosdhwgo" type="button" (click)="CancelUpdateClient()">Annuler</button>&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-primary  update-contact" type="button" (click)="SubmitUpdateClient()">Modifier</button>
                </div>
              </div>
              <!-- #endregion EditClient -->
            </div>




        <div class="email-right-aside bookmark-tabcontent contacts-tabs ">
          <div class="card email-body radius-left sfugusghsd">

            <div class="ps-0">
              <div class="tab-content">
                <div class="tab-pane fade active show" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
                  <div class="card mb-0">
                    <div class="card-body p-0">
                      <div class="row list-persons" id="addcon">
                        
                        
                        <div [class]="CurrentClient == null ? 'col-xl-12 col-md-12 addScrollBar sdfihdfushduhsdfohofusd88' : ' sdfihdfushduhsdfohofusd88 col-xl-4 xl-50 col-md-5 addScrollBar'">
                          <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">

                            <a *ngFor="let client of Clients" class="contact-tab-0 nav-link active" [id]="client.ClientId" data-bs-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="v-pills-user" aria-selected="false" [class.active]="client.IsSelected != null && client.IsSelected" (click)="OnClientSelected(client.ClientId)">
                              <div class="media" [class.activeXXXXX]="client.IsSelected != null && client.IsSelected">
                                <!-- Photo -->
                                <img class="swduhuwhgohuswghosudgwhusd img-50 img-fluid m-r-20 rounded-circle update_img_0" [src]="client.ImgSrc" alt="" />
                                <div class="ushdd8JN">
                                  <h5 class="SJODFHUDuiu">
                                    {{ client.Prenom }}&nbsp;{{ client.Nom }} 
                                  </h5>
                                  <span class="HInnohUHO">
                                    {{ client.Email1 }} 
                                  </span>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>

                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="fade tab-pane" id="pills-maroc" role="tabpanel" aria-labelledby="pills-maroc">
                  <div class="card mb-0">
                    <div class="card-header d-flex">
                      <h5>Installation au Maroc</h5>
                      <span class="f-14 pull-right mt-0">10 Contacts</span>
                    </div>
                    <div class="card-body p-0">
                      <div class="row list-persons">
                        <div class="col-xl-4 xl-50 col-md-5">
                          <div class="nav flex-column nav-pills" id="v-pills-tab1" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-iduser-tab" data-bs-toggle="pill" href="#v-pills-iduser" role="tab" aria-controls="v-pills-iduser" aria-selected="true">
                              <div class="media">
                                <img class="swduhuwhgohuswghosudgwhusd img-50 img-fluid m-r-20 rounded-circle" src="assets/images/user/user.jpg" alt="" />
                                <div class="media-body">
                                  <h6>Mark jecno</h6>
                                  <p>markjecno&#64;gmail.com</p>
                                </div>
                              </div> </a
                            ><a class="nav-link" id="v-pills-iduser1-tab" data-bs-toggle="pill" href="#v-pills-iduser1" role="tab" aria-controls="v-pills-iduser1" aria-selected="false">
                              <div class="media">
                                <img class="img-50 img-fluid m-r-20 rounded-circle" src="assets/images/user/3.jpg" alt="" />
                                <div class="media-body">
                                  <h6>Jason Borne</h6>
                                  <p>jasonb&#64;gmail.com</p>
                                </div>
                              </div> </a
                            ><a class="nav-link" id="v-pills-iduser2-tab" data-bs-toggle="pill" href="#v-pills-iduser2" role="tab" aria-controls="v-pills-iduser2" aria-selected="false">
                              <div class="media">
                                <img class="img-50 img-fluid m-r-20 rounded-circle" src="assets/images/user/4.jpg" alt="" />
                                <div class="media-body">
                                  <h6>Sarah Loren</h6>
                                  <p>barnes&#64;gmail.com</p>
                                </div>
                              </div> </a
                            ><a class="nav-link" id="v-pills-iduser3-tab" data-bs-toggle="pill" href="#v-pills-iduser3" role="tab" aria-controls="v-pills-iduser3" aria-selected="false">
                              <div class="media">
                                <img class="img-50 img-fluid m-r-20 rounded-circle" src="assets/images/user/10.jpg" alt="" />
                                <div class="media-body">
                                  <h6>Andew Jon</h6>
                                  <p>andrewj&#64;gmail.com</p>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="col-xl-8 xl-50 col-md-7">
                          <div class="tab-content" id="v-pills-tabContent1">
                            <div class="tab-pane fade show active" id="v-pills-iduser" role="tabpanel" aria-labelledby="v-pills-iduser-tab">
                              <div class="profile-mail">
                                <div class="media">
                                  <img class="img-100 img-fluid m-r-20 rounded-circle update_img_5" src="assets/images/user/user.jpg" alt="" />
                                  <div class="media-body mt-0">
                                    <h5><span class="first_name_5">Mark </span><span class="last_name_5">jecno</span></h5>
                                    <p class="email_add_5">markjecno&#64;gmail.com</p>
                                    <ul>
                                      <li><a href="javascript:void(0)" (click)="Print.openModal()">Print</a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="email-general">
                                  <h6>General</h6>
                                  <p>Email Address: <span class="font-primary email_add_5">markjecno&#64;gmail.com</span></p>
                                  <div class="gender">
                                    <h6>Personal</h6>
                                    <p>Gender: <span>Male</span></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-iduser1" role="tabpanel" aria-labelledby="v-pills-iduser1-tab">
                              <div class="profile-mail">
                                <div class="media">
                                  <img class="img-100 img-fluid m-r-20 rounded-circle update_img_6" src="assets/images/user/3.jpg" alt="" />
                                  <div class="media-body mt-0">
                                    <h5><span class="first_name_6">Jason </span><span class="last_name_6">Borne</span></h5>
                                    <p class="email_add_6">jasonb&#64;gmail.com</p>
                                    <ul>
                                      <li><a href="javascript:void(0)" (click)="Print.openModal()">Print</a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="email-general">
                                  <h6>General</h6>
                                  <p>Email Address: <span class="font-primary email_add_6">jasonb&#64;gmail.com</span></p>
                                  <div class="gender">
                                    <h6>Personal</h6>
                                    <p>Gender: <span>Male</span></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-iduser2" role="tabpanel" aria-labelledby="v-pills-iduser2-tab">
                              <div class="profile-mail">
                                <div class="media">
                                  <img class="img-100 img-fluid m-r-20 rounded-circle update_img_7" src="assets/images/user/4.jpg" alt="" />
                                  <div class="media-body mt-0">
                                    <h5><span class="first_name_7">Sarah </span><span class="last_name_7">Loren</span></h5>
                                    <p class="email_add_7">barnes&#64;gmail.com</p>
                                    <ul>
                                      <li><a href="javascript:void(0)" (click)="Print.openModal()">Print</a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="email-general">
                                  <h6>General</h6>
                                  <p>Email Address: <span class="font-primary email_add_7">barnes&#64;gmail.com</span></p>
                                  <div class="gender">
                                    <h6>Personal</h6>
                                    <p>Gender: <span>Female</span></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-iduser3" role="tabpanel" aria-labelledby="v-pills-iduser3-tab">
                              <div class="profile-mail">
                                <div class="media">
                                  <img class="img-100 img-fluid m-r-20 rounded-circle update_img_8" src="assets/images/user/10.jpg" alt="" />
                                  <div class="media-body mt-0">
                                    <h5><span class="first_name_8">Andew </span><span class="last_name_8">Jon</span></h5>
                                    <p class="email_add_8">andrewj&#64;gmail.com</p>
                                    <ul>
                                      <li><a href="javascript:void(0)" (click)="Print.openModal()">Print</a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="email-general">
                                  <h6>General</h6>
                                  <p>Email Address: <span class="font-primary email_add_8">andrewj&#64;gmail.com</span></p>
                                  <div class="gender">
                                    <h6>Personal</h6>
                                    <p>Gender: <span>Female</span></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="fade tab-pane" id="pills-france" role="tabpanel" aria-labelledby="pills-france">
                  <div class="card mb-0">
                    <div class="card-header d-flex">
                      <h5>Retour en France</h5>
                      <span class="f-14 pull-right mt-0">10 Contacts</span>
                    </div>
                    <div class="card-body p-0">
                      <div class="row list-persons">
                        <div class="col-xl-4 xl-50 col-md-5">
                          <div class="nav flex-column nav-pills" id="v-pills-tab1" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-iduser-tab" data-bs-toggle="pill" href="#v-pills-iduser" role="tab" aria-controls="v-pills-iduser" aria-selected="true">
                              <div class="media">
                                <img class="img-50 img-fluid m-r-20 rounded-circle" src="assets/images/user/user.jpg" alt="" />
                                <div class="media-body">
                                  <h6>Mark jecno</h6>
                                  <p>markjecno&#64;gmail.com</p>
                                </div>
                              </div> </a
                            ><a class="nav-link" id="v-pills-iduser1-tab" data-bs-toggle="pill" href="#v-pills-iduser1" role="tab" aria-controls="v-pills-iduser1" aria-selected="false">
                              <div class="media">
                                <img class="img-50 img-fluid m-r-20 rounded-circle" src="assets/images/user/3.jpg" alt="" />
                                <div class="media-body">
                                  <h6>Jason Borne</h6>
                                  <p>jasonb&#64;gmail.com</p>
                                </div>
                              </div> </a
                            ><a class="nav-link" id="v-pills-iduser2-tab" data-bs-toggle="pill" href="#v-pills-iduser2" role="tab" aria-controls="v-pills-iduser2" aria-selected="false">
                              <div class="media">
                                <img class="img-50 img-fluid m-r-20 rounded-circle" src="assets/images/user/4.jpg" alt="" />
                                <div class="media-body">
                                  <h6>Sarah Loren</h6>
                                  <p>barnes&#64;gmail.com</p>
                                </div>
                              </div> </a
                            ><a class="nav-link" id="v-pills-iduser3-tab" data-bs-toggle="pill" href="#v-pills-iduser3" role="tab" aria-controls="v-pills-iduser3" aria-selected="false">
                              <div class="media">
                                <img class="img-50 img-fluid m-r-20 rounded-circle" src="assets/images/user/10.jpg" alt="" />
                                <div class="media-body">
                                  <h6>Andew Jon</h6>
                                  <p>andrewj&#64;gmail.com</p>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="col-xl-8 xl-50 col-md-7">
                          <div class="tab-content" id="v-pills-tabContent1">
                            <div class="tab-pane fade show active" id="v-pills-iduser" role="tabpanel" aria-labelledby="v-pills-iduser-tab">
                              <div class="profile-mail">
                                <div class="media">
                                  <img class="img-100 img-fluid m-r-20 rounded-circle update_img_5" src="assets/images/user/user.jpg" alt="" />
                                  <div class="media-body mt-0">
                                    <h5><span class="first_name_5">Mark </span><span class="last_name_5">jecno</span></h5>
                                    <p class="email_add_5">markjecno&#64;gmail.com</p>
                                    <ul>
                                      <li><a href="javascript:void(0)" (click)="Print.openModal()">Print</a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="email-general">
                                  <h6>General</h6>
                                  <p>Email Address: <span class="font-primary email_add_5">markjecno&#64;gmail.com</span></p>
                                  <div class="gender">
                                    <h6>Personal</h6>
                                    <p>Gender: <span>Male</span></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-iduser1" role="tabpanel" aria-labelledby="v-pills-iduser1-tab">
                              <div class="profile-mail">
                                <div class="media">
                                  <img class="img-100 img-fluid m-r-20 rounded-circle update_img_6" src="assets/images/user/3.jpg" alt="" />
                                  <div class="media-body mt-0">
                                    <h5><span class="first_name_6">Jason </span><span class="last_name_6">Borne</span></h5>
                                    <p class="email_add_6">jasonb&#64;gmail.com</p>
                                    <ul>
                                      <li><a href="javascript:void(0)" (click)="Print.openModal()">Print</a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="email-general">
                                  <h6>General</h6>
                                  <p>Email Address: <span class="font-primary email_add_6">jasonb&#64;gmail.com</span></p>
                                  <div class="gender">
                                    <h6>Personal</h6>
                                    <p>Gender: <span>Male</span></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-iduser2" role="tabpanel" aria-labelledby="v-pills-iduser2-tab">
                              <div class="profile-mail">
                                <div class="media">
                                  <img class="img-100 img-fluid m-r-20 rounded-circle update_img_7" src="assets/images/user/4.jpg" alt="" />
                                  <div class="media-body mt-0">
                                    <h5><span class="first_name_7">Sarah </span><span class="last_name_7">Loren</span></h5>
                                    <p class="email_add_7">barnes&#64;gmail.com</p>
                                    <ul>
                                      <li><a href="javascript:void(0)" (click)="Print.openModal()">Print</a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="email-general">
                                  <h6>General</h6>
                                  <p>Email Address: <span class="font-primary email_add_7">barnes&#64;gmail.com</span></p>
                                  <div class="gender">
                                    <h6>Personal</h6>
                                    <p>Gender: <span>Female</span></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-iduser3" role="tabpanel" aria-labelledby="v-pills-iduser3-tab">
                              <div class="profile-mail">
                                <div class="media">
                                  <img class="img-100 img-fluid m-r-20 rounded-circle update_img_8" src="assets/images/user/10.jpg" alt="" />
                                  <div class="media-body mt-0">
                                    <h5><span class="first_name_8">Andew </span><span class="last_name_8">Jon</span></h5>
                                    <p class="email_add_8">andrewj&#64;gmail.com</p>
                                    <ul>
                                      <li><a href="javascript:void(0)" (click)="Print.openModal()">Print</a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="email-general">
                                  <h6>General</h6>
                                  <p>Email Address: <span class="font-primary email_add_8">andrewj&#64;gmail.com</span></p>
                                  <div class="gender">
                                    <h6>Personal</h6>
                                    <p>Gender: <span>Female</span></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="right-history" [class.show]="history">
                  <div class="modal-header p-20" (click)="showHistory()">
                    <h6 class="modal-title w-100">
                      Contact History<span class="pull-right"
                        ><a class="closehistory" href="javascript:void(0)"><i class="icofont icofont-close"></i></a
                      ></span>
                    </h6>
                  </div>
                  <div class="history-details">
                    <div class="text-center">
                      <i class="icofont icofont-ui-edit"></i>
                      <p>Contact has not been modified yet.</p>
                    </div>
                    <div class="media">
                      <i class="icofont icofont-star me-3"></i>
                      <div class="media-body mt-0">
                        <h6 class="mt-0">Contact Created</h6>
                        <p class="mb-0">Contact is created via mail</p>
                        <span class="f-12">Sep 10, 2022 4:00</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-add-client #addClient (btnSaveEmitter)="OnSaveAddClient($event)"></app-add-client>
<app-add-category #addCategory></app-add-category>
<app-print-contact #print></app-print-contact>
<!-- Container-fluid Ends-->
