

.email-body{
    overflow-y: scroll;
    overflow-x: hidden;
}


.sfugusghsd{
    position: relative !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


.client-detailsx{
    position: absolute !important;
    top:  0px !important; /* Adjust as needed */
    right: 1.1rem !important; /* Adjust as needed */
    background-color: transparent !important; /* Optional: For a clear background */
    z-index: 1;
    padding: 2rem 1rem;
    border-top-right-radius: 0.43rem;
    height: auto !important;
    background-color: blueviolet;

}

.client-detailsx img{
    height: 100px !important;
    width: 100px !important;
    object-fit: cover !important;
    border-radius: 50% !important;
    border: 1px solid gainsboro;

}

.wiwiwi ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.kikoolm ul li {
    display: flex;
    height: auto ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.jdsf{
    margin-top: 1rem;
}

.sdfok  h5 {
    margin-top: 30px !important;
}

.sdfok ul li a{
    color: white;
    background-color:#7366fe;
    height: 33px;
    width: auto;
    padding: .4rem 1.5rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

}


.shdgusfhgosfx{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 88px !important;
    color: black !important;
}

.swduhuwhgohuswghosudgwhusd{
    object-fit: cover !important;
}


.soufhusduwghsuowhguosdhwgo{
    background-color: transparent !important;
    color :#7366fe !important;
    border: 1px solid #7366fe !important;
}



.email-left-aside .card .card-body .email-app-sidebar .media .media-size-email img{
    height: 50px !important;
    width : 50px !important;
    object-fit: cover !important;
    border-radius: 50% !important;
}


.card{
}

.f-w-600{
    margin-top: 12px !important;
}

.bsdogbsodgbsdgbodsgousdgobosdggou{
    border-top-right-radius: 0px  !important;
    border-bottom-right-radius: 0px !important;
    
}

.sfdowuhuosdghsdughsd{
    margin-top: 8px !important;
    font-weight: bold;
}

.ushdd8JN{
    display: flex !important;
    flex-direction: column !important;
    
}

.ushdd8JN h5:first-child{
    font-size: 17px !important;
    margin-top: 4px !important;
    margin-bottom: 0px !important;
}


.ushdd8JN h5:last-child{
    font-size: 15px !important;
    color: gray !important;
}



.HElnc{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
    padding: 0 !important;
}

 .container-fluid .email-wrap .row .email-right-aside.active{
    background-color: #e8e6ff !important;
}


.container-fluid{
    padding-top: 1rem !important;
}


.card{
    height: calc(100vh -  150px) !important;
}


.container-fluid .row{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 1rem !important;
}

.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}







.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999999999999999999999;
  
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease, visibility  .4s ease;  }
  
  .loading-overlay.show {
    opacity: 1;
    visibility: visible;
  }



  .loader {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #7366fe;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  





.container-fluid .row .sfugusghsd .email-right-aside .activeXXXXX  {
    background-color: #e3e0ff !important;
    border-radius: 0.666rem;
    position: relative !important;
    outline: none !important;
}


.container-fluid .row .sfugusghsd .email-right-aside .activeXXXXX::before {
    content: '' !important;
    position: absolute !important; 
    right: 8px !important;
    top: 12.5% !important;
    height: 75% !important;
    width: 6px !important;
    background: #a097ff !important;
    border-radius: 1rem !important;
    outline: none;

}

.container-fluid .XJN_8k a{
    background-color: rgb(238, 60, 60) !important;
    color: white !important;
}

.container-fluid .HInnohUHO{
    font-size: 13.6px !important;
    color: gray !important;
    font-weight: '500' !important;
    letter-spacing: 0px !important;
}

.container-fluid .email-left-aside .bsdogbsodgbsdgbodsgousdgobosdggou h6{
    color: rgb(37, 37, 37);
}

.container-fluid .ushdd8JN .SJODFHUDuiu{
    font-size: 14.6px !important;
    color: rgb(37, 37, 37);
    letter-spacing: 0.3px !important;
}



.client-detailsx .swduhuwhgohuswghosudgwhusd{
    height: 100px !important;
    width: 100px !important;
    object-fit: cover !important;
}


.container-fluid .wiwiwiwiwiwiwiwiwi{
    width: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin-top: 1rem !important;
}

.sifkjk8UBç9{
    font-size: 14px !important;
    color: gray !important;
}

.wiwiwiwiwiwiwiwiwi788{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.switch-container .docnjjdl{
    padding: 0;
    transition: .2s all ease-in-out;
    color: rgb(60, 60, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 0.5rem;
    font-size: 13px !important;
    border-radius: 6px;
    cursor: pointer;
    padding: 0 8px !important;
    width: auto !important;
    height: 33px; 
  }

  




.srfsdsdwg .switch-container  .docnjjdl{
    border:1px solid  #b2acfb;
    background-color: #f0effe;
    color: #6053e7;
  }
  
.srfsdsdwg .switch-container  .docnjjdl:hover{
    background-color: #d9d6fc;
}
  
.srfsdsdwg .switch-container  .déconecion:hover{
    background-color: #d9d6fc;
}





.sfoidjisdfjidsfjdfs{
    width: 100% !important;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
  }
  
  .sfoidjisdfjidsfjdfs img{
    height: 27px;
    width: 27px;
    object-fit: cover;
    margin-right: 0.5rem;
  }

  
  


  .dni8H9b span em{
    color: rgb(162, 162, 162);
    font-style :italic;
    font-size: 14px !important;
  }
  

  .fsigbisdhgfsdiufiudsf{
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 40px !important;
  }



  .fsigbisdhgfsdiufiudsf2{
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 40px !important;
  }





  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3.5px) saturate(200%);
    -webkit-backdrop-filter: blur(3.5px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.678);
    z-index: 999;
    opacity: 0;
    visibility: hidden;   
    transition: 0.3167s ease-in-out ;
  }
  
  .popup-overlay.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .popup-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0.9);
    background: white;
    padding: 25px 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 100% ;
    border-radius: 8px;
    height: auto;
    max-width: 666px !important;
    opacity: 0;
    visibility: hidden;
    transition: 0.3167s ease-in-out ;
  }
  
  .popup-modal.visible {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  
  

  .popup-modal span, .popup-modal p, .popup-modal h3{
    text-align: center !important;
  }

.popup-modal p{
    margin-bottom: 30px !important;
}
.sfodshdgf2{
    height: 23px !important;
    width: 90.167% !important;
    margin: 0 auto !important;
    border-bottom: 1px solid #d8d8d8 !important;
    margin-bottom: 16px !important;
  }

  .nav-item864258268{
    margin: 0 !important;
  }




.container-fluid .sdfihdfushduhsdfohofusd88{
    padding: 0px !important;
    width: calc(100% - 390px) !important;
    max-width: 390px !important ;
    border-right: 1px solid rgb(229, 229, 229) !important;
}



.sdfihdfushduhsdfohofusd88 .active{
    border: none !important;
}

.SJODFHUDuiu{
    font-weight: bold !important;
}

.HElnc span{
    font-weight: bold !important;
    font-size: 17px !important;
    color: #505050 !important; 
}

.email-right-aside  .SJODFHUDuiu{
    color: #505050 !important;
}

.client-detailsx .sfdowuhuosdghsdughsd{
    color: #505050 !important;

}

.kikoolm ul li{
    margin-bottom: 0.7rem !important;
} 

.email-general h6, .email-general ul li {
    color: #505050 !important; 
}

.huiuiuo888{
    color: #505050 !important; 
}

.huiuiuo888 input{
    font-size: 14px !important;
}


.fsgsdgosjfgnfsg888{
    margin-bottom: .5rem;
}

.container-fluid .col-xl-3 .card-body .fsigbisdhgfsdiufiudsf2{
    color: #6053e7 !important;
    background-color: #eeedff !important;
    transition: .2s all ease-in-out;
    
}


.container-fluid .col-xl-3 .card-body .fsigbisdhgfsdiufiudsf2:hover{
    background-color: #dad8ff !important;    
}

.souuhdsuodsuosuodsguodgsuoe{
    cursor: not-allowed;
    pointer-events:none!important;
}

.container-fluid.nusdhfsdfsudghudghudghfu{
    margin-top: 0px !important;
}




.container-fluid .client-detailsx{
    width: 445px !important;
    padding: 0.7rem 1.67rem;
    background-color: white !important;
    right: 2rem !important
}





@media screen and (min-width: 1700px) {
    .container-fluid .client-detailsx {
        width: 540px !important;
    }
}

/* Apply width of 666px for screens wider than 1800px */
@media screen and (min-width: 1800px) {
    .container-fluid .client-detailsx {
        width: 666px !important;
    }
}

/* Apply width of 777px for screens wider than 1900px */
@media screen and (min-width: 1900px) {
    .container-fluid .client-detailsx {
        width: 666px !important;
    }
}

/* Keep width of 777px for screens wider than 2200px */
@media screen and (min-width: 2200px) {
    .container-fluid .client-detailsx {
        width: 666px !important;
    }
}

/* Keep width of 666px for screens wider than 2300px and beyond */
@media screen and (min-width: 2300px) {
    .container-fluid .client-detailsx {
        width: 666px !important;
    }
}


