<app-breadcrumb [title]="'Accueil'"></app-breadcrumb>
<!-- <app-breadcrumb [title]="'Default'" [items]="['Dashboard']" [active_item]="'Default'"></app-breadcrumb> -->
<div class="container-fluid">
  <div class="row widget-grid">
    <div class="col-xxl-4 col-sm-6 box-col-6">
      <!-- <app-welcome></app-welcome> -->
      <div class="card profile-box">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <div class="greeting-user">
                <h4 class="f-w-600">Bienvenue au CRM</h4>
                <!-- <p>Here whats happing in your account today</p> -->
                <div class="whatsnew-btn"><a class="btn btn-outline-white">Quoi de neuf !</a></div>
              </div>
            </div>
            <div>
              <div class="clockbox">
                <svg id="clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
                  <g id="face">
                    <circle class="circle" cx="300" cy="300" r="253.9"></circle>
                    <path class="hour-marks" d="M300.5 94V61M506 300.5h32M300.5 506v33M94 300.5H60M411.3 107.8l7.9-13.8M493 190.2l13-7.4M492.1 411.4l16.5 9.5M411 492.3l8.9 15.3M189 492.3l-9.2 15.9M107.7 411L93 419.5M107.5 189.3l-17.1-9.9M188.1 108.2l-9-15.6"></path>
                    <circle class="mid-circle" cx="300" cy="300" r="16.2"></circle>
                  </g>
                  <g id="hour">
                    <path class="hour-hand" d="M300.5 298V142"></path>
                    <circle class="sizing-box" cx="300" cy="300" r="253.9"></circle>
                  </g>
                  <g id="minute">
                    <path class="minute-hand" d="M300.5 298V67"></path>
                    <circle class="sizing-box" cx="300" cy="300" r="253.9"></circle>
                  </g>
                  <g id="second">
                    <path class="second-hand" d="M300.5 350V55"></path>
                    <circle class="sizing-box" cx="300" cy="300" r="253.9"></circle>
                  </g>
                </svg>
              </div>
              <div class="badge f-10 p-0" id="txt"></div>
            </div>
          </div>
          <div class="cartoon"><img class="img-fluid" src="assets/images/dashboard/cartoon.svg" alt="vector women with leptop" /></div>
        </div>
      </div>
    </div>
    <div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
      <div class="row">
        <div class="col-xl-12">
          <!-- <app-product-status-chart-box [data]="purchase"></app-product-status-chart-box> -->
          <div class="card widget-1">
            <div class="card-body">
              <div class="widget-content">
                <div class="widget-round {{ purchase.font }}">
                  <div class="bg-round">
                    <svg class="svg-fill">
                      <use attr.xlink:href="assets/svg/icon-sprite.svg#{{ purchase.icon }}"></use>
                    </svg>
                    <svg class="half-circle svg-fill">
                      <use href="assets/svg/icon-sprite.svg#halfcircle"></use>
                    </svg>
                  </div>
                </div>
                <div>
                  <h4>{{ purchase.counter }}</h4>
                  <span class="f-light">{{ purchase.name }}</span>
                </div>
              </div>
              <div class="font-{{ purchase.font }} f-w-500">
                <i class="icon-arrow-up icon-rotate me-1"></i><span>{{ purchase.pr }}%</span>
              </div>
            </div>
          </div>

          <div class="col-xl-12">
            <!-- <app-product-status-chart-box [data]="sales"></app-product-status-chart-box> -->
            <div class="card widget-1">
              <div class="card-body">
                <div class="widget-content">
                  <div class="widget-round {{ sales.font }}">
                    <div class="bg-round">
                      <svg class="svg-fill">
                        <use attr.xlink:href="assets/svg/icon-sprite.svg#{{ sales.icon }}"></use>
                      </svg>
                      <svg class="half-circle svg-fill">
                        <use href="assets/svg/icon-sprite.svg#halfcircle"></use>
                      </svg>
                    </div>
                  </div>
                  <div>
                    <h4>{{ sales.counter }}</h4>
                    <span class="f-light">{{ sales.name }}</span>
                  </div>
                </div>
                <div class="font-{{ sales.font }} f-w-500">
                  <i class="icon-arrow-up icon-rotate me-1"></i><span>{{ sales.pr }}%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <div class="col-xxl-6 col-xl-6 col-md-12 col-sm-12 box-col-6">
      <!-- <app-timeline></app-timeline> -->
      <div class="card">
        <div class="card-header card-no-border">
          <div class="header-top">
            <h5 class="m-0">Timeline</h5>
            <div class="card-header-right-icon">
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" (click)="show = !show">Today</button>
                <div class="dropdown-menu dropdown-menu-end" [class.show]="show"><a class="dropdown-item" href="#">Today</a><a class="dropdown-item" href="#">Tomorrow</a><a
                    class="dropdown-item" href="#">Yesterday</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="schedule-container">
            <div id="schedulechart">
              <apx-chart [series]="timeLine.series" [chart]="timeLine.chart" [plotOptions]="timeLine.plotOptions" [dataLabels]="timeLine.dataLabels" [xaxis]="timeLine.xaxis"
                [yaxis]="timeLine.yaxis" [grid]="timeLine.grid" [responsive]="timeLine.responsive"></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-md-12 col-sm-12 notification box-col-6">
      <!-- <app-activity></app-activity> -->
      <div class="card height-equal">
        <div class="card-header card-no-border">
          <div class="header-top">
            <h5 class="m-0">Activité</h5>
            <div class="card-header-right-icon">
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" (click)="show = !show">Aujourd'hui</button>
                <div class="dropdown-menu dropdown-menu-end" [class.show]="show"><a class="dropdown-item" href="#">Aujourd'hui</a><a class="dropdown-item" href="#">Demain</a><a class="dropdown-item" href="#">Hier </a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <ul>
            <li class="d-flex" *ngFor="let item of activity">
              <div class="activity-dot-{{ item.primaryDotColor }}"></div>
              <div class="w-100 ms-3">
                <p class="d-flex justify-content-between mb-2">
                  <span class="date-content light-background">{{ item.date }} </span><span>{{ item.time }}</span>
                </p>
                <h6>{{ item.title }}<span class="dot-notification"></span></h6>
                <p class="f-light">{{ item.dace }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="col-xxl-4 col-md-6 appointment-sec box-col-6">
      <app-recent-sales></app-recent-sales>
    </div> -->
    <div class="col-xxl-7 col-md-7 box-col-6">
      <!-- <app-timeline></app-timeline> -->
      <div class="card">
        <div class="card-header card-no-border">
          <div class="header-top">
            <h5 class="m-0">Timeline</h5>
            <div class="card-header-right-icon">
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" (click)="show = !show">Aujourd'hui</button>
                <div class="dropdown-menu dropdown-menu-end" [class.show]="show"><a class="dropdown-item" href="#">Aujourd'hui</a><a class="dropdown-item" href="#">Demain</a><a class="dropdown-item" href="#">Hier</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="schedule-container">
            <div id="schedulechart">
              <apx-chart [series]="timeLine.series" [chart]="timeLine.chart" [plotOptions]="timeLine.plotOptions" [dataLabels]="timeLine.dataLabels" [xaxis]="timeLine.xaxis" [yaxis]="timeLine.yaxis" [grid]="timeLine.grid" [responsive]="timeLine.responsive"></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 col-md-6 box-col-6 col-ed-none wow zoomIn">
      <!-- <app-purchase-account></app-purchase-account> -->
    </div>
    <div class="col-xxl-4 col-md-6 box-col-6 col-ed-6">
      <div class="row">
        <div class="col-xl-12">
          <!-- <app-total-users></app-total-users> -->
        </div>
        <div class="col-xl-12">
          <!-- <app-followers-growth></app-followers-growth> -->
        </div>
      </div>
    </div> 
    <div class="col-xxl-5 col-lg-8 col-md-11 box-col-8 col-ed-6">
      <!-- <app-paper-note></app-paper-note> -->
    </div>
</div>
