<app-breadcrumb [title]="'Tâches'" [items]="['Apps']" [active_item]="'Tâches'"></app-breadcrumb>
<div class="container-fluid email-wrap bookmark-wrap todo-wrap sudfhusdhfhswfhohosdfw">
  <div class="row">
    <div style="background-color: white;">
      <table id="example" class="row-border">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Tache</th>
            <th>Numéro Ordre</th>
            <th>Prestation</th>
            <th>Mission</th>
            <th>Statut</th>
            <th>Agent</th>
          </tr>
        </thead>
        <tbody *ngIf="AllClientTaches?.length != 0">
          <tr *ngFor="let clienttaches of AllClientTaches">
            <td>{{ clienttaches.ClientNom }}</td>
            <td>{{ clienttaches.ClientPrenom }}</td>
            <td>{{ clienttaches.TacheIntitule }}</td>
            <td>{{ clienttaches.Numero_Ordre }}</td>
            <td>{{ clienttaches.PrestationDesignation }}</td>
            <td>{{ clienttaches.MissionDesignation }}</td>
            <td>{{ clienttaches.Status }}</td>
            <td>{{ clienttaches.AgentNom }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="AllClientTaches?.length == 0">
          <tr>
            <td colspan="8">pas de data</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

