<app-breadcrumb [title]="'Tâches'" [items]="['Apps']" [active_item]="'Tâches'"></app-breadcrumb>





<div class="container-fluid email-wrap bookmark-wrap todo-wrap">
  <div class="row">
    <div class="sjrghushfghsfoughosufhgdou">
      
      <table *ngIf="AllClientTaches?.length > 0" id="example" class="row-border">
        <thead>
          <tr>
            <th class="sfuodhoushgdhsodughuosdghohgsd JKD7">Nom et Prénom</th>
            <th class="JKD7">Tache</th>
            <th class="JKD7">Prestation</th>
            <th class="JKD7">Mission</th>
            <th class="JKD7">Statut</th>
            <th class="sfuodhoushgdhsodughuosdghohgsd2 JKD7">Agent</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clienttaches of AllClientTaches">
            <td>{{ clienttaches.ClientTacheIntitule }}</td>
            <td>{{ clienttaches.TacheIntitule }}</td>
            <td>{{ clienttaches.PrestationDesignation }}</td>
            <td>{{ clienttaches.MissionDesignation }}</td>
            <td>{{ clienttaches.Status }}</td>
            <td>{{ clienttaches.AgentNom && clienttaches.AgentNom.trim() !== '' ? clienttaches.AgentNom : '---' }}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="AllClientTaches?.length === 0">
        <p>Pas de données disponibles</p>
      </div>

    </div>
  </div>
</div>
