  
.icobackgroundimm {
    background: #ffb9b9;
  }

.icotextimm{
    color: red;
}
.icobackgrounddeja {
    background: #b3f4d4;
  }

.icotextdeja{
    color: #12db7b;
}
.icobackgroundfutur {
    background: #ffe4d1;
  }

.icotextfutur{
    color: #ffac71;
}
.icobackgroundtotal {
    background: #cbc9ff;
  }

.icotexttotal{
    color: #6865ff;
}
  
  