





<div class="loading-overlay" [class.show]="isLoading">
  <div class="loader"></div>
</div>






<div class="calendar-container">
  <div class="filtrageX">
    <div class="filtrageY">

        <div class="sfodshdgf"></div>

        
        
        <h6 class="H6h_8">
          Synchroniser Google Agenda
        </h6>
        
        
        
        <div class="srfsdsdwg">
          <div class="switch-container sfoidjisdfjidsfjdfs">
            <div class="dni8H9b">
              <img class="sfondsndfKKK" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Calendar_icon_%282020%29.svg/2048px-Google_Calendar_icon_%282020%29.svg.png" alt="google" />
              <span>
                <em>
                  {{ isConnectedToGoogleCalendar ? 'Statut : Connecté' : 'Statut : Déconnecté' }}
                </em>
              </span>
            </div>
            <button 
              id="authorize_button" 
              (click)="handleAuthClick()" 
              class="docnjjdl" 
              *ngIf="!isConnectedToGoogleCalendar" 
              [disabled]="isLoadingAccToken">
              Connexion
            </button>
            
            <button 
              id="logout_button" 
              (click)="handleLogout()" 
              class="docnjjdl déconecion" 
              *ngIf="isConnectedToGoogleCalendar" 
              [disabled]="isLoadingAccToken">
              Déconnexion
            </button>
          </div>
        </div>
        
         
        <div class="sfodshdgf2"></div>
       
          
        <h6>
          Trier par statut
        </h6>
        <div class="srfsdsdwg">
          <span>
            En cours / Finalisée
          </span>
          <div class="switch-container">
            <label class="switch">
              <input 
                type="checkbox" 
                [(ngModel)]="showCompletedTasks" 
                [disabled]="allTasks.length === 0"
                (change)="updateCalendarEvents()"
              >
              <span class="slider"></span>
            </label>
          </div>
        </div>
        
        
        

      <div class="sfodshdgf2"></div>

      <h6>Trier par personne</h6>
      <div class="scrolling-list">
        <div *ngFor="let person of allPersons" class="filter-item">
          <input 
            type="checkbox" 
            [id]="'person-' + person.id" 
            [value]="person.id"
            [checked]="filters.persons.includes(person.id)" 
            (change)="updateFilter('persons', person.id, $event.target.checked)" 
          />
          <div class="filter-label filter-label666">
            <label [for]="'person-' + person.id">
              {{ person.prenom }} {{ person.nom }}
            </label>
          </div>
        </div>
        <div class="noDATAX" *ngIf="allTasks.length === 0">
          <em>Aucune donnée</em>
        </div>
      </div>
      <div class="sfodshdgf2"></div>
      <h6>Trier par tâche</h6>
      <div class="scrolling-list">
        <div *ngFor="let task of allTasks" class="filter-item">
          <input 
            type="checkbox" 
            [id]="'task-' + task.id" 
            [value]="task.id"
            [checked]="filters.tasks.includes(task.id)" 
            (change)="updateFilter('tasks', task.id, $event.target.checked)" 
          />
          <div class="filter-label">
            <label [for]="'task-' + task.id">
              {{ task.nom }}
            </label>
          </div>
        </div>
        <div class="noDATAX" *ngIf="allTasks.length === 0">
          <em>Aucune donnée</em>
        </div>
      </div>
    </div>
  </div>
  
  <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>








<div
  [ngClass]="{ 'visible': showPopup }"
  class="popup-overlay"
  (click)="closePopup()"
>
  <div
    class="popup-modal sdifisdfiushdfiu888"
    (click)="preventClose($event)"
    [ngClass]="{ 'visible': showPopup }"
  >
  <h3 style="margin-bottom: 30px;">
    Rappel&nbsp;&nbsp;{{ selectedEvent?.title }}
  </h3>

    <div class="nsdofnoqdfnqdof">
      <strong>
        Nom et prénom Client : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.ClientNom}}&nbsp;{{selectedEvent?.extendedProps?.ClientPrenom}}
      </span>
    </div>
    <div class="nsdofnoqdfnqdof">
      <strong>
        Adresse Email Client : 
      </strong>
      <span>
        {{ selectedEvent?.extendedProps?.ClientEmail1 ? selectedEvent.extendedProps.ClientEmail1 : (selectedEvent?.extendedProps?.ClientEmail2 ? selectedEvent.extendedProps.ClientEmail2 : '---') }}
      </span>
    </div>
    <div class="nsdofnoqdfnqdof">
      <strong>
        N° Téléphone Client : 
      </strong>
      <span>
        {{ selectedEvent?.extendedProps?.ClientTelephone1 ? selectedEvent?.extendedProps?.ClientTelephone1 : '---' }}
      </span>
    </div>



    <div class="sfodshdgf2"></div>
    
   
    
    <div class="nsdofnoqdfnqdof ">
      <strong>
        Tâche : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.TacheIntitule}}
      </span>
    </div>

    <div class="nsdofnoqdfnqdof  nsdofnoqdfnqdofnsdofnoqdfnqdof ">
      <strong>Statut Tâche : </strong>
      <span [ngClass]="selectedEvent?.extendedProps?.isDone ? 'statut-fin' : 'statut-encours'">
        {{ selectedEvent?.extendedProps?.isDone ? 'Finalisée' : 'En cours...' }}
      </span>
    </div>


    <div class="sfodshdgf2"></div>



    <div class="nsdofnoqdfnqdof">
      <strong>
        Préstation : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.PrestationDesignation}}
      </span>
    </div>

    
    <div class="nsdofnoqdfnqdof">
      <strong>
        Mission : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.MissionDesignation}}
      </span>
    </div>

    <div class="nsdofnoqdfnqdof">
      <strong>
        Début d'exécution : 
      </strong>
      <span>
        {{formatDateOnly(selectedEvent?.extendedProps?.start_date)}}
      </span>
    </div>
    <div class="nsdofnoqdfnqdof nsdofnoqdfnqdof222">
      <strong>
        Fin prévue : 
      </strong>
      <span>
        {{formatDateOnly(selectedEvent?.extendedProps?.end_date)}}
      </span>
    </div>




    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
      <button
        (click)="closePopup()"
        [ngStyle]="{
          'width': selectedEvent?.extendedProps?.isDone === true ? '100%' : '30%'
        }"
        style="
          color:#4538d4;
          background-color: #f1efff;
          border: 1px solid #d0c9ff;
          padding: 8px 16px;
          font-weight: 500;
          border: 1px solid transparent !important;
          border-radius: 7px;
          cursor: pointer;
        "
      >
        Fermer
      </button>
  
      <button
        *ngIf="selectedEvent?.extendedProps?.isDone === false ||selectedEvent?.extendedProps?.isDone === 0 "
        (click)="markAsDone()"
        [disabled]="isUpdating"
        style="
          background: #7366fe;
          color: white;
          width: 67%;
          font-weight: 500;
          border: none;
          padding: 8px 16px;
          border-radius: 7px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="19" height="19" fill="currentColor">
          <path d="M9 16.2L4.8 12l-1.4 1.4L9 19l12-12-1.4-1.4z" stroke="currentColor" stroke-width="1.5"/>
        </svg>
        &nbsp;
        {{ isUpdating ? 'Opération en cours...' : 'Marquer comme fait' }}
      </button>
    </div>
  </div>
</div>
