<div *ngIf="isLoading" class="loading-overlay">
  <div class="loader"></div>
</div>
<div class="calendar-container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<div
  [ngClass]="{ 'visible': showPopup }"
  class="popup-overlay"
  (click)="closePopup()"
>
  <div
    class="popup-modal"
    (click)="preventClose($event)"
    [ngClass]="{ 'visible': showPopup }"
  >
    <h3 style="
      margin-bottom: 30px;
    ">{{ selectedEvent?.title }}
    </h3>

    <div class="nsdofnoqdfnqdof">
      <strong>
        Nom et prénom Client : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.ClientNom}}&nbsp;{{selectedEvent?.extendedProps?.ClientPrenom}}
      </span>
    </div>
    <div class="nsdofnoqdfnqdof">
      <strong>
        Adresse Email Client : 
      </strong>
      <span>
        {{ selectedEvent?.extendedProps?.ClientEmail1 ? selectedEvent.extendedProps.ClientEmail1 : (selectedEvent?.extendedProps?.ClientEmail2 ? selectedEvent.extendedProps.ClientEmail2 : '---') }}
      </span>
    </div>
    <div class="nsdofnoqdfnqdof">
      <strong>
        N° Téléphone Client : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.ClientTelephone ? selectedEvent.extendedProps.ClientTelephone1 : '---'}}
      </span>
    </div>
    <div class="nsdofnoqdfnqdof">
      <strong>
        Nom Agent : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.AgentNom ? selectedEvent.extendedProps.AgentNom : '---'}}
      </span>
    </div>
    <div class="nsdofnoqdfnqdof">
      <strong>
        Début d'exécution : 
      </strong>
      <span>
        {{formatDateOnly(selectedEvent?.extendedProps?.start_date)}}
      </span>
    </div>
    <div class="nsdofnoqdfnqdof">
      <strong>
        Fin prévue : 
      </strong>
      <span>
        {{formatDateOnly(selectedEvent?.extendedProps?.end_date)}}
      </span>
    </div>
   
    
    <div class="nsdofnoqdfnqdof ">
      <strong>
        Tâche : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.TacheIntitule}}
      </span>
    </div>


    <div class="nsdofnoqdfnqdof">
      <strong>
        Préstation : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.PrestationDesignation}}
      </span>
    </div>

    
    <div class="nsdofnoqdfnqdof">
      <strong>
        Mission : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.MissionDesignation}}
      </span>
    </div>



    <div class="nsdofnoqdfnqdof nsdofnoqdfnqdof222">
      <strong>Statut Tâche : </strong>
      <span [ngClass]="selectedEvent?.extendedProps?.isDone ? 'statut-fin' : 'statut-encours'">
        {{ selectedEvent?.extendedProps?.isDone ? 'Finalisée' : 'En cours' }}
      </span>
    </div>

    


    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
      <button
        (click)="closePopup()"
        [ngStyle]="{
          'width': selectedEvent?.extendedProps?.isDone === true ? '100%' : '30%'
        }"
        style="
          color:#4538d4;
          background-color: #f1efff;
          border: 1px solid #d0c9ff;
          padding: 8px 16px;
          font-weight: 500;
          border: 1px solid transparent !important;
          border-radius: 7px;
          cursor: pointer;
        "
      >
        Fermer
      </button>
  
      <button
        *ngIf="selectedEvent?.extendedProps?.isDone === false ||selectedEvent?.extendedProps?.isDone === 0 "
        (click)="markAsDone()"
        [disabled]="isUpdating"
        style="
          background: #7366fe;
          color: white;
          width: 67%;
          font-weight: 500;
          border: none;
          padding: 8px 16px;
          border-radius: 7px;
          cursor: pointer;
        "
      >
      {{ isUpdating ? 'Mise à jour...' : 'Marquer comme fait' }}
      </button>
    </div>
  </div>
</div>
