.calendar-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: calc(100vh - 91px); /* Full viewport height */
  width: 100%;
  background-color: transparent !important; /* Optional: Add a light background color */
  margin-top: 91px;
  background-color: transparent !important;
}

full-calendar {
  width: 100%; /* Optional: Control the calendar's size */
  height: 95%;
  overflow: hidden !important;
  background-color: white !important;
  border: 1px solid #c9c5ff; /* Optional: Add a border around the calendar */
  border-radius: .9rem; /* Optional: Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow for styling */
}



.fc-toolbar-title {
    color: #007bff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
 
  
  .fc-day-sat, .fc-day-sun {
    background-color: #f8f9fa;
  }
  

  /* Remove the dot (circle) before the event title */
.fc-daygrid-event-dot {
  display: none !important;
}

/* Style the events with a solid background */
.fc-event {
  padding: 2px 5px; /* Optional: Adjust padding for better visuals */
  border-radius: 4px; /* Optional: Rounded corners */
}




.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3.5px) saturate(200%);
  -webkit-backdrop-filter: blur(3.5px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.678);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: 0.3167s ease-in-out ;
}

.popup-overlay.visible {
  opacity: 1;
  visibility: visible;
}

.popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 25px 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px;
  min-width: 555px;
  height: auto;
  max-width: 777px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3167s ease-in-out ;
}

.popup-modal.visible {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}



.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999999;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #7366fe;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-close {
  background: white;
  color: #5a4edf;
  width: 30%;
  border: 1px solid #7366fe;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.btn-done {
  background: #7366fe;
  color: white;
  width: 67%;
  font-weight: 500;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}



 /* Style the event blocks */
 .calendar-container .calendarOptions .fc-event {
  background-color: transparent !important;
  color: white;
  font-size: 14px;
  padding: 4px;
}


.nsdofnoqdfnqdof{
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin-bottom: 12px !important;
}

.nsdofnoqdfnqdof span{
  text-align: left !important;
}

.nsdofnoqdfnqdof strong{
  text-align: right !important;
}

.nsdofnoqdfnqdof222{
  margin-bottom: 2rem !important;
}


.statut-fin {
  color: rgb(0, 147, 0) !important;
  font-weight: bold !important;
}

.statut-encours {
  color: #5a4edf !important;
  font-weight: bold !important;
}
