<div class="loading-overlay" [class.show]="isLoading">
  <div class="loader"></div>
</div>






<div class="calendar-container">
  <div class="filtrageX">
    <div class="filtrageY">
      <h4>Filtre personnalisé</h4>

      <div class="sfodshdgf"></div>

        <h6>
          Trier par statut
        </h6>
        <div class="srfsdsdwg">
          <span>
            En cours / Finalisée
          </span>
          <div class="switch-container">
            <label class="switch">
              <input 
                type="checkbox" 
                [(ngModel)]="showCompletedTasks" 
                [disabled]="allTasks.length === 0"
                (change)="updateCalendarEvents()"
              >
              <span class="slider"></span>
            </label>
          </div>
        </div>
        
        
        

      <div class="sfodshdgf2"></div>

      <h6>Trier par personne</h6>
      <div class="scrolling-list">
        <div *ngFor="let person of allPersons" class="filter-item">
          <input 
            type="checkbox" 
            [id]="'person-' + person.id" 
            [value]="person.id"
            [checked]="filters.persons.includes(person.id)" 
            (change)="updateFilter('persons', person.id, $event.target.checked)" 
          />
          <div class="filter-label">
            <label [for]="'person-' + person.id">
              {{ person.prenom }} {{ person.nom }}
            </label>
          </div>
        </div>
        <div class="noDATAX" *ngIf="allTasks.length === 0">
          <em>Aucune donnée</em>
        </div>
      </div>
      <div class="sfodshdgf2"></div>
      <h6>Trier par tâche</h6>
      <div class="scrolling-list">
        <div *ngFor="let task of allTasks" class="filter-item">
          <input 
            type="checkbox" 
            [id]="'task-' + task.id" 
            [value]="task.id"
            [checked]="filters.tasks.includes(task.id)" 
            (change)="updateFilter('tasks', task.id, $event.target.checked)" 
          />
          <div class="filter-label">
            <label [for]="'task-' + task.id">
              {{ task.nom }}
            </label>
          </div>
        </div>
        <div class="noDATAX" *ngIf="allTasks.length === 0">
          <em>Aucune donnée</em>
        </div>
      </div>
    </div>
  </div>
  
  <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>








<div
  [ngClass]="{ 'visible': showPopup }"
  class="popup-overlay"
  (click)="closePopup()"
>
  <div
    class="popup-modal"
    (click)="preventClose($event)"
    [ngClass]="{ 'visible': showPopup }"
  >
  <h3 style="margin-bottom: 30px;">
    {{ selectedEvent?.title }}
  </h3>

    <div class="nsdofnoqdfnqdof">
      <strong>
        Nom et prénom Client : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.ClientNom}}&nbsp;{{selectedEvent?.extendedProps?.ClientPrenom}}
      </span>
    </div>
    <div class="nsdofnoqdfnqdof">
      <strong>
        Adresse Email Client : 
      </strong>
      <span>
        {{ selectedEvent?.extendedProps?.ClientEmail1 ? selectedEvent.extendedProps.ClientEmail1 : (selectedEvent?.extendedProps?.ClientEmail2 ? selectedEvent.extendedProps.ClientEmail2 : '---') }}
      </span>
    </div>
    <div class="nsdofnoqdfnqdof">
      <strong>
        N° Téléphone Client : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.ClientTelephone ? selectedEvent.extendedProps.ClientTelephone1 : '---'}}
      </span>
    </div>



    <div class="sfodshdgf2"></div>
    
   
    
    <div class="nsdofnoqdfnqdof ">
      <strong>
        Tâche : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.TacheIntitule}}
      </span>
    </div>

    <div class="nsdofnoqdfnqdof ">
      <strong>Statut Tâche : </strong>
      <span [ngClass]="selectedEvent?.extendedProps?.isDone ? 'statut-fin' : 'statut-encours'">
        {{ selectedEvent?.extendedProps?.isDone ? 'Finalisée' : 'En cours' }}
      </span>
    </div>


    <div class="sfodshdgf2"></div>



    <div class="nsdofnoqdfnqdof">
      <strong>
        Préstation : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.PrestationDesignation}}
      </span>
    </div>

    
    <div class="nsdofnoqdfnqdof">
      <strong>
        Mission : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.MissionDesignation}}
      </span>
    </div>


    <div class="nsdofnoqdfnqdof">
      <strong>
        Nom Agent : 
      </strong>
      <span>
        {{selectedEvent?.extendedProps?.AgentNom ? selectedEvent.extendedProps.AgentNom : '---'}}
      </span>
    </div>
    <div class="nsdofnoqdfnqdof">
      <strong>
        Début d'exécution : 
      </strong>
      <span>
        {{formatDateOnly(selectedEvent?.extendedProps?.start_date)}}
      </span>
    </div>
    <div class="nsdofnoqdfnqdof nsdofnoqdfnqdof222">
      <strong>
        Fin prévue : 
      </strong>
      <span>
        {{formatDateOnly(selectedEvent?.extendedProps?.end_date)}}
      </span>
    </div>




    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
      <button
        (click)="closePopup()"
        [ngStyle]="{
          'width': selectedEvent?.extendedProps?.isDone === true ? '100%' : '30%'
        }"
        style="
          color:#4538d4;
          background-color: #f1efff;
          border: 1px solid #d0c9ff;
          padding: 8px 16px;
          font-weight: 500;
          border: 1px solid transparent !important;
          border-radius: 7px;
          cursor: pointer;
        "
      >
        Fermer
      </button>
  
      <button
        *ngIf="selectedEvent?.extendedProps?.isDone === false ||selectedEvent?.extendedProps?.isDone === 0 "
        (click)="markAsDone()"
        [disabled]="isUpdating"
        style="
          background: #7366fe;
          color: white;
          width: 67%;
          font-weight: 500;
          border: none;
          padding: 8px 16px;
          border-radius: 7px;
          cursor: pointer;
        "
      >
      {{ isUpdating ? 'Mise à jour...' : 'Marquer comme fait' }}
      </button>
    </div>
  </div>
</div>
