<div class="media profile-media">
  <img class="b-r-10" src="assets/images/user/user.jpg" alt="">  
  <div class="media-body dofsndgnsdogjjdgjsdgwijsjdp">
    <span>{{ user?.FullName }}</span>&nbsp;<i class="middle fa fa-angle-down"></i>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div">
  <li (click)="userProfile()"><app-feather-icons [icon]="'user'"></app-feather-icons><span>Compte</span></li>
  <li (click)="logoutFunc()"><app-feather-icons [icon]="'log-in'"></app-feather-icons><span>Se déconnecter</span></li>
</ul> 