<div class="media profile-media">
  <img class="b-r-10" src="assets/images/user/user.jpg" alt="">  
  <div class="media-body dofsndgnsdogjjdgjsdgwijsjdp">
    <span>{{ user?.FullName }}</span>&nbsp;&nbsp;
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down">
      <path d="M6 9l6 6 6-6"></path>
    </svg>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div">
  <li (click)="userProfile()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 h-4 w-4"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg><span>Compte</span></li>
  <li (click)="logoutFunc()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out "><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" x2="9" y1="12" y2="12"></line></svg><span>Déconnexion</span></li>
</ul> 