
.media  .dofsndgnsdogjjdgjsdgwijsjdp, .profile-media .dofsndgnsdogjjdgjsdgwijsjdp{
    display: flex !important;
    align-items: center !important;
    justify-content: left !important;
    height: 48px !important;
}

.profile-media img{
    height: 48px !important;
    width: 48px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    border: 1px solid gainsboro !important;
    
}




.media .dofsndgnsdogjjdgjsdgwijsjdp span{
    font-size: 15px !important;
    font-weight: '500' !important;
}

 

.media .dofsndgnsdogjjdgjsdgwijsjdp .fa-angle-down{
    font-size: 22px !important;

}