<app-breadcrumb *ngIf="currentClient != null" [title]="currentClient?.Nom + ' ' + currentClient?.Prenom" [items]="['Clients']" [active_item]="currentClient?.Nom + ' ' + currentClient?.Prenom"></app-breadcrumb>
<div class="container-fluid">
  <div class="edit-profile">
    <div class="row">
      <div class="card">
        <!-- <div class="card-header">
          <h5>Détails client</h5>
        </div> -->
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" (navChange)="onNavChange($event)" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink>BP</a>
              <ng-template ngbNavContent>
                <div class="card-body default-accordion">
                  <div ngbAccordion>
                    <!-- [collapsed]="false" -->
                    <div ngbAccordionItem>
                      <h2 ngbAccordionHeader>
                        <button ngbAccordionButton class="bg-primary text-white"><i class="icofont icofont-building-alt fs-3 px-2"></i> Patrimoine</button>
                      </h2>
                      <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                          <ng-template>
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <div class="mb-4 mt-3" *ngFor="let patrimoineType of tablesPatrimoines">
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th [attr.colspan]="patrimoineType.columns.length - 1">
                                      <b>{{ patrimoineType.title }}</b>
                                    </th>
                                    <th>
                                      <button (click)="dialogPatrimoine.Open(null, patrimoineType.type)" type="button" class="btn btn-primary">
                                        <i class="fa fa-plus"></i>
                                      </button>
                                    </th>
                                  </tr>
                                  <!-- table columns -->
                                  <tr class="bg-primary-subtle">
                                    <td *ngFor="let column of patrimoineType.columns">{{ column.header }}</td>
                                  </tr>
                                </thead>
                                <tbody *ngIf="GetPatrimoines(patrimoineType.type).length === 0">
                                  <tr>
                                    <td [attr.colspan]="patrimoineType.columns.length" align="center">
                                      <i>{{ patrimoineType.noDataMessage }}</i>
                                    </td>
                                  </tr>
                                </tbody>
                                <tbody *ngIf="GetPatrimoines(patrimoineType.type).length > 0">
                                  <tr *ngFor="let patrimoine of GetPatrimoines(patrimoineType.type)">
                                    <td *ngFor="let column of patrimoineType.columns" [class.text-start]="column.dataType == 'string'" [class.text-center]="column.dataType == 'date' || column.dataType == 'bool' || column.dataType == null" [class.text-end]="column.dataType == 'number'">
                                      <!-- <ng-template> -->
                                      <span *ngIf="column.dataType == 'string'">{{ patrimoine[column.field] }}</span>
                                      <span *ngIf="column.dataType == 'date'">{{ patrimoine[column.field] | date : "dd/MM/yyyy" }}</span>
                                      <span *ngIf="column.dataType == 'datetime'">{{ patrimoine[column.field] | date : "dd/MM/yyyy hh:mm:ss" }}</span>
                                      <span *ngIf="column.dataType == 'number'">{{ patrimoine[column.field] }}</span>
                                      <span *ngIf="column.dataType == 'bool'">{{ patrimoine[column.field] == true ? column.TextTrue : column.TextFalse }}</span>
                                      <span *ngIf="column.field == 'action'">
                                        <div class="d-flex justify-content-around">
                                          <a class="text-warning" (click)="dialogPatrimoine.Open(patrimoine.PatrimoineId)">
                                            <i class="fa fa-pencil"></i>
                                          </a>
                                          <a class="text-danger" (click)="DeletePatrimoine(patrimoine.PatrimoineId)">
                                            <i class="fa fa-trash"></i>
                                          </a>
                                        </div>
                                      </span>
                                      <!-- </ng-template> -->
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="patrimoineType.total != null">Total: {{ patrimoineType.total | currency }} dhs</div>
                            </div>
                            <div class="form-group mb-3 col-md-6">
                              <label for="prof-commentaire">Questions complémentaires : (pas encore programmé)</label>
                              <p>quelle répartition du capital et des pouvoirs dans l'entreprise ? Quelles participations ? Comment est détenue l'immobilier professionnel ? Un pacte d'actionnaires a-t-il été signé ?</p>
                              <input class="form-control" id="prof-commentaire" type="text" placeholder="Réponse" name="ProfCommentaire" />
                            </div>
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                          </ng-template>
                        </div>
                      </div>
                    </div>

                    <div ngbAccordionItem class="mt-3">
                      <h2 ngbAccordionHeader>
                        <button ngbAccordionButton class="bg-primary text-white">
                          <span><i class="icofont icofont-bank-alt fs-3 px-2"></i> Passifs</span>
                        </button>
                      </h2>
                      <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                          <ng-template>
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <div class="mb-4 mt-3" *ngFor="let passifsType of tablesPassifs">
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th [attr.colspan]="passifsType.columns.length - 1">
                                      <b>{{ passifsType.title }} (new)</b>
                                    </th>
                                    <th>
                                      <button (click)="dialogPassif.Open(null, passifsType.type)" type="button" class="btn btn-primary">
                                        <i class="fa fa-plus"></i>
                                      </button>
                                    </th>
                                  </tr>
                                  <tr class="bg-primary-subtle">
                                    <td *ngFor="let column of passifsType.columns">{{ column.header }}</td>
                                  </tr>
                                </thead>
                                <tbody *ngIf="GetPassifs(passifsType.type).length === 0">
                                  <tr>
                                    <td [attr.colspan]="passifsType.columns.length" align="center">
                                      <i>{{ passifsType.noDataMessage }}</i>
                                    </td>
                                  </tr>
                                </tbody>
                                <tbody *ngIf="GetPassifs(passifsType.type).length > 0">
                                  <tr *ngFor="let passif of GetPassifs(passifsType.type)">
                                    <td *ngFor="let column of passifsType.columns" [class.text-start]="column.dataType == 'string'" [class.text-center]="column.dataType == 'date' || column.dataType == 'bool' || column.dataType == null" [class.text-end]="column.dataType == 'number'">
                                      <!-- <ng-template> -->
                                      <span *ngIf="column.dataType == 'string'">{{ passif[column.field] }}</span>
                                      <span *ngIf="column.dataType == 'date'">{{ passif[column.field] | date : "dd/MM/yyyy" }}</span>
                                      <span *ngIf="column.dataType == 'datetime'">{{ passif[column.field] | date : "dd/MM/yyyy hh:mm:ss" }}</span>
                                      <span *ngIf="column.dataType == 'number'">{{ passif[column.field] }}</span>
                                      <span *ngIf="column.dataType == 'bool'">{{ passif[column.field] ? column.TextTrue : column.TextFalse }}</span>
                                      <span *ngIf="column.field == 'action'">
                                        <div class="d-flex justify-content-around">
                                          <a class="text-warning" (click)="dialogPassif.Open(passif.PassifsId)">
                                            <i class="fa fa-pencil"></i>
                                          </a>
                                          <a class="text-danger" (click)="DeletePassif(passif.PassifsId)">
                                            <i class="fa fa-trash"></i>
                                          </a>
                                        </div>
                                      </span>
                                      <!-- </ng-template> -->
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="passifsType.total != null">Total: {{ passifsType.total | currency }} dhs</div>
                            </div>

                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                          </ng-template>
                        </div>
                      </div>
                    </div>
                    <div ngbAccordionItem class="mt-3">
                      <h2 ngbAccordionHeader>
                        <button ngbAccordionButton class="bg-primary text-white">
                          <i class="icofont icofont-money-bag fs-3 px-2"></i>
                          Budget
                        </button>
                      </h2>
                      <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                          <ng-template>
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

                            <div class="mb-4 mt-3" *ngFor="let budgetType of tablesBudgets">
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th [attr.colspan]="budgetType.columns.length - 1">
                                      <b>{{ budgetType.title }} (new)</b>
                                    </th>
                                    <th>
                                      <button (click)="dialogBudget.Open(null, budgetType.type)" type="button" class="btn btn-primary">
                                        <i class="fa fa-plus"></i>
                                      </button>
                                    </th>
                                  </tr>
                                  <!-- table columns -->
                                  <tr class="bg-primary-subtle">
                                    <td *ngFor="let column of budgetType.columns">{{ column.header }}</td>
                                  </tr>
                                </thead>
                                <tbody *ngIf="GetBudgets().length === 0">
                                  <tr>
                                    <td [attr.colspan]="budgetType.columns.length" align="center">
                                      <i>{{ budgetType.noDataMessage }}</i>
                                    </td>
                                  </tr>
                                </tbody>
                                <tbody *ngIf="GetBudgets().length > 0">
                                  <tr *ngFor="let budget of GetBudgets()">
                                    <td *ngFor="let column of budgetType.columns" [class.text-start]="column.dataType == 'string'" [class.text-center]="column.dataType == 'date' || column.dataType == 'bool' || column.dataType == null" [class.text-end]="column.dataType == 'number'">
                                      <!-- <ng-template> -->
                                      <span *ngIf="column.dataType == 'string'">{{ budget[column.field] }}</span>
                                      <span *ngIf="column.dataType == 'date'">{{ budget[column.field] | date : "dd/MM/yyyy" }}</span>
                                      <span *ngIf="column.dataType == 'datetime'">{{ budget[column.field] | date : "dd/MM/yyyy hh:mm:ss" }}</span>
                                      <span *ngIf="column.dataType == 'number'">{{ budget[column.field] }}</span>
                                      <span *ngIf="column.dataType == 'bool'">{{ budget[column.field] ? column.TextTrue : column.TextFalse }}</span>
                                      <span *ngIf="column.field == 'action'">
                                        <div class="d-flex justify-content-around">
                                          <a class="text-warning" (click)="dialogBudget.Open(budget.BudgetsId)">
                                            <i class="fa fa-pencil"></i>
                                          </a>
                                          <a class="text-danger" (click)="DeleteBudget(budget.BudgetsId)">
                                            <i class="fa fa-trash"></i>
                                          </a>
                                        </div>
                                      </span>
                                      <!-- </ng-template> -->
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="budgetType.total != null">Total: {{ budgetType.total | currency : "MAD " : "symbol" : "4.2-2" }}</div>
                              <!--output '0 001,35 CA$'-->
                            </div>
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                          </ng-template>
                        </div>
                      </div>
                    </div>
                    <div ngbAccordionItem class="mt-3">
                      <h2 ngbAccordionHeader>
                        <button ngbAccordionButton class="bg-primary text-white">
                          <i class="icofont icofont-law-document fs-3 px-2"></i>
                          Particularités fiscales
                        </button>
                      </h2>
                      <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                          <ng-template>
                            <div class="row">
                              <!-- Fields for usage goods -->
                              <div class="form-group mb-3 col-md-12">
                                <label for="partic-fisca">Particularités fiscales</label>
                                <textarea class="form-control" id="partic-fisca" placeholder="Particularités fiscales" name="ParticFisca" [(ngModel)]="newPartic"></textarea>
                              </div>
                              <div class="d-grid gap-2 d-md-flex justify-content-center">
                                <button class="btn btn-primary" (click)="addPartic()">Ajouter</button>
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                    <div ngbAccordionItem class="mt-3">
                      <h2 ngbAccordionHeader>
                        <button ngbAccordionButton class="bg-primary text-white">
                          <i class="icofont icofont-briefcase-alt-1 fs-2 px-2"></i>
                          Situation administrative
                        </button>
                      </h2>
                      <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                          <ng-template>
                            <div class="row">
                              <!-- Fields for usage goods -->
                              <div class="col-6 mb-3">
                                <label>CFE</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CFE" id="CFEYes" value="oui" [(ngModel)]="newSituationAdmin.CFE" />
                                  <label class="form-check-label" for="CFEYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CFE" id="CFENo" value="non" [(ngModel)]="newSituationAdmin.CFE" />
                                  <label class="form-check-label" for="CFENo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CFE" id="CFEFaire" value="afaire" [(ngModel)]="newSituationAdmin.CFE" />
                                  <label class="form-check-label" for="CFEFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>Passeport Scanné</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Passeport" id="PasseportYes" value="oui" [(ngModel)]="newSituationAdmin.Passeport" />
                                  <label class="form-check-label" for="PasseportYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Passeport" id="PasseportNo" value="non" [(ngModel)]="newSituationAdmin.Passeport" />
                                  <label class="form-check-label" for="PasseportNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Passeport" id="PasseportFaire" value="afaire" [(ngModel)]="newSituationAdmin.Passeport" />
                                  <label class="form-check-label" for="PasseportFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>15 ans de cotisation</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Cotisation" id="CotisationYes" value="oui" [(ngModel)]="newSituationAdmin.Cotisation" />
                                  <label class="form-check-label" for="CotisationYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Cotisation" id="CotisationNo" value="non" [(ngModel)]="newSituationAdmin.Cotisation" />
                                  <label class="form-check-label" for="CotisationNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Cotisation" id="CotisationFaire" value="afaire" [(ngModel)]="newSituationAdmin.Cotisation" />
                                  <label class="form-check-label" for="CotisationFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>Carte de séjour scanée</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CarteSejour" id="CarteSejourYes" value="oui" [(ngModel)]="newSituationAdmin.CarteSejour" />
                                  <label class="form-check-label" for="CarteSejourYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CarteSejour" id="CarteSejourNo" value="non" [(ngModel)]="newSituationAdmin.CarteSejour" />
                                  <label class="form-check-label" for="CarteSejourNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CarteSejour" id="CarteSejourFaire" value="afaire" [(ngModel)]="newSituationAdmin.CarteSejour" />
                                  <label class="form-check-label" for="CarteSejourFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>Réversion 15 ans de cotisation</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Reversion" id="ReversionYes" value="oui" [(ngModel)]="newSituationAdmin.Reversion" />
                                  <label class="form-check-label" for="ReversionYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Reversion" id="ReversionNo" value="non" [(ngModel)]="newSituationAdmin.Reversion" />
                                  <label class="form-check-label" for="ReversionNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Reversion" id="ReversionFaire" value="afaire" [(ngModel)]="newSituationAdmin.Reversion" />
                                  <label class="form-check-label" for="ReversionFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>Permis de conduire marocain</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Permis" id="PermisYes" value="oui" [(ngModel)]="newSituationAdmin.Permis" />
                                  <label class="form-check-label" for="PermisYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Permis" id="PermisNo" value="non" [(ngModel)]="newSituationAdmin.Permis" />
                                  <label class="form-check-label" for="PermisNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Permis" id="PermisFaire" value="afaire" [(ngModel)]="newSituationAdmin.Permis" />
                                  <label class="form-check-label" for="PermisFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>CNSS</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CNSS" id="CNSSYes" value="oui" [(ngModel)]="newSituationAdmin.CNSS" />
                                  <label class="form-check-label" for="CNSSYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CNSS" id="CNSSNo" value="non" [(ngModel)]="newSituationAdmin.CNSS" />
                                  <label class="form-check-label" for="CNSSNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CNSS" id="CNSSFaire" value="afaire" [(ngModel)]="newSituationAdmin.CNSS" />
                                  <label class="form-check-label" for="CNSSFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>Assurance Auto</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.AssurAuto" id="AssurAutoYes" value="oui" [(ngModel)]="newSituationAdmin.AssurAuto" />
                                  <label class="form-check-label" for="AssurAutoYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.AssurAuto" id="AssurAutoNo" value="non" [(ngModel)]="newSituationAdmin.AssurAuto" />
                                  <label class="form-check-label" for="AssurAutoNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.AssurAuto" id="AssurAutoFaire" value="afaire" [(ngModel)]="newSituationAdmin.AssurAuto" />
                                  <label class="form-check-label" for="AssurAutoFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>CNAREFE</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CNAREFE" id="CNAREFEYes" value="oui" [(ngModel)]="newSituationAdmin.CNAREFE" />
                                  <label class="form-check-label" for="CNAREFEYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CNAREFE" id="CNAREFENo" value="non" [(ngModel)]="newSituationAdmin.CNAREFE" />
                                  <label class="form-check-label" for="CNAREFENo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CNAREFE" id="CNAREFEFaire" value="afaire" [(ngModel)]="newSituationAdmin.CNAREFE" />
                                  <label class="form-check-label" for="CNAREFEFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>Assurance Habitation</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.AssurHabi" id="AssurHabiYes" value="oui" [(ngModel)]="newSituationAdmin.AssurHabi" />
                                  <label class="form-check-label" for="AssurHabiYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.AssurHabi" id="AssurHabiNo" value="non" [(ngModel)]="newSituationAdmin.AssurHabi" />
                                  <label class="form-check-label" for="AssurHabiNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.AssurHabi" id="AssurHabiFaire" value="afaire" [(ngModel)]="newSituationAdmin.AssurHabi" />
                                  <label class="form-check-label" for="AssurHabiFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>Capitone</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Capitone" id="CapitoneYes" value="oui" [(ngModel)]="newSituationAdmin.Capitone" />
                                  <label class="form-check-label" for="CapitoneYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Capitone" id="CapitoneNo" value="non" [(ngModel)]="newSituationAdmin.Capitone" />
                                  <label class="form-check-label" for="CapitoneNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Capitone" id="CapitoneFaire" value="afaire" [(ngModel)]="newSituationAdmin.Capitone" />
                                  <label class="form-check-label" for="CapitoneFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>Inscription consulat</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.InscriConsulat" id="InscriConsulatYes" value="oui" [(ngModel)]="newSituationAdmin.InscriConsulat" />
                                  <label class="form-check-label" for="InscriConsulatYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.InscriConsulat" id="InscriConsulatNo" value="non" [(ngModel)]="newSituationAdmin.InscriConsulat" />
                                  <label class="form-check-label" for="InscriConsulatNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.InscriConsulat" id="InscriConsulatFaire" value="afaire" [(ngModel)]="newSituationAdmin.InscriConsulat" />
                                  <label class="form-check-label" for="InscriConsulatFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>Assurance Rapatriement</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Rapatriement" id="RapatriementYes" value="oui" [(ngModel)]="newSituationAdmin.Rapatriement" />
                                  <label class="form-check-label" for="RapatriementYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Rapatriement" id="RapatriementNo" value="non" [(ngModel)]="newSituationAdmin.Rapatriement" />
                                  <label class="form-check-label" for="RapatriementNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Rapatriement" id="RapatriementFaire" value="afaire" [(ngModel)]="newSituationAdmin.Rapatriement" />
                                  <label class="form-check-label" for="RapatriementFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>CPAN</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CPAN" id="CPANYes" value="oui" [(ngModel)]="newSituationAdmin.CPAN" />
                                  <label class="form-check-label" for="CPANYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CPAN" id="CPANNo" value="non" [(ngModel)]="newSituationAdmin.CPAN" />
                                  <label class="form-check-label" for="CPANNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CPAN" id="CPANFaire" value="afaire" [(ngModel)]="newSituationAdmin.CPAN" />
                                  <label class="form-check-label" for="CPANFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>Mutuelle Française</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Mutuelle" id="MutuelleYes" value="oui" [(ngModel)]="newSituationAdmin.Mutuelle" />
                                  <label class="form-check-label" for="MutuelleYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Mutuelle" id="MutuelleNo" value="non" [(ngModel)]="newSituationAdmin.Mutuelle" />
                                  <label class="form-check-label" for="MutuelleNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.Mutuelle" id="MutuelleFaire" value="afaire" [(ngModel)]="newSituationAdmin.Mutuelle" />
                                  <label class="form-check-label" for="MutuelleFaire"> A faire </label>
                                </div>
                              </div>
                              <div class="col-6 mb-3">
                                <label>CSG / CRDS</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CSG" id="CSGYes" value="oui" [(ngModel)]="newSituationAdmin.CSG" />
                                  <label class="form-check-label" for="CSGYes"> Oui </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CSG" id="CSGNo" value="non" [(ngModel)]="newSituationAdmin.CSG" />
                                  <label class="form-check-label" for="CSGNo"> Non </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="SituationAdministrative.CSG" id="CSGFaire" value="afaire" [(ngModel)]="newSituationAdmin.CSG" />
                                  <label class="form-check-label" for="CSGFaire">A faire</label>
                                </div>
                              </div>

                              <!-- <div class="d-grid gap-2 d-md-flex justify-content-center">
                                <button class="btn btn-primary" (click)="addSituationAdmin()">
                                  Ajouter la situation administrative
                                </button>
                              </div> -->
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-3">
                    <button class="btn btn-primary" type="submit">Enregistrer le dossier</button>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>Tâches</a>
              <ng-template ngbNavContent>
                <div class="table-responsive edit-table">
                  <table class="table card-table table-vcenter text-nowrap">
                    <thead>
                      <tr>
                        <th class="task-column">Tâche</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Prestation</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let task of tasks">
                        <td class="task-column">
                          <a class="text-inherit" href="javascript:void(0)">{{ task.title }}</a>
                        </td>
                        <td>{{ task.date }}</td>
                        <td>
                          <span [class]="'badge ' + task.statusClass">{{ task.status }}</span>
                        </td>
                        <td>{{ task.prestation }}</td>
                        <td class="text-start">
                          <div class="d-flex justify-content-around">
                            <a class="fs-2 text-warning" href="javascript:void(0)"> <i class="fa fa-pencil"></i></a>
                            <a class="fs-2 text-danger" href="javascript:void(0)">
                              <i class="fa fa-trash"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>Pièces</a>
              <ng-template ngbNavContent>
                <div class="col-xl-12 col-md-12 box-col-12">
                  <div class="file-content">
                    <div class="card">
                      <div class="card-header">
                        <div class="media">
                          <div class="form-inline" *ngIf="currentClient.ClientPieces.length > 0">
                            <div class="form-group mb-0">
                              <i class="fa fa-search"></i>
                              <input class="form-control-plaintext" type="text" placeholder="Chercher..." (keyup)="OnSearchPieceKeyUp($event)" [(ngModel)]="filterPiecesText" />
                            </div>
                          </div>
                          <div class="media-body text-end">
                            <!-- <form class="d-inline-flex" action="#" method="POST" enctype="multipart/form-data" name="myForm">
                              <div class="btn btn-primary me-2" onclick="getFile()"><app-feather-icons [icon]="'plus-square'"></app-feather-icons>Add New</div>
                              <div style="height: 0px; width: 0px; overflow: hidden">
                                <input id="upfile" type="file" onchange="sub(this)" />
                              </div>
                            </form> -->
                            <div class="btn btn-outline-primary" (click)="dialogImportPiece.Open(modalUploadClientPiece)"><app-feather-icons [icon]="'upload'"> </app-feather-icons>Importer</div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body file-manager">
                        <h4 class="mb-3" *ngIf="filtredClientPieces.length == 0">Aucune pièce importé</h4>
                        <h4 class="mb-3" *ngIf="filtredClientPieces.length > 0">Toutes les pièces</h4>
                        <!-- <h6>Pièces de {{currentClient.Nom + ' '+currentClient.Prenom}}</h6> -->
                        <ul class="files">
                          <li class="file-box me-1" *ngFor="let clientPiece of filtredClientPieces; let index = index">
                            <div class="file-top">
                              <i *ngIf="['png', 'jpg', 'jpeg'].includes(clientPiece.Extension)" class="fa fa-file-image-o txt-primary"></i>
                              <i *ngIf="['pdf'].includes(clientPiece.Extension)" class="fa fa-file-text-o txt-primary"></i>
                              <!-- class="d-inline-block" -->
                              <i class="fa fa-ellipsis-v f-14 ellips" (click)="OpenPieceTools(clientPiece.ClientPieceId)"></i>
                            </div>
                            <div class="file-bottom">
                              <h6>{{ clientPiece.Libelle }}</h6>
                              <p class="mb-1">{{ clientPiece.Extension }}</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>

    <ng-template #modalUploadClientPiece let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Importation de pièce</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="col-lg-12">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="piece">Pièce</label>
                <select class="form-control" placeholder="Piece" [(ngModel)]="dialogImportPiece.SelectedPiece">
                  <option *ngFor="let piece of dialogImportPiece.PiecesToChoose" [value]="piece.PieceId">
                    {{ piece.Libelle }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="piece">Fichier</label>
                <input class="form-control" type="file" id="importFile" name="importFile" accept=".pdf" title="Importer le fichier" [(ngModel)]="dialogImportPiece.SelectedFile" (change)="dialogImportPiece.OnFileChange($event)" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="dialogImportPiece.Submit()" [disabled]="!dialogImportPiece.FileReady">Importer</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>

    <!-- Modal for option piece -->

    <!-- #region DialogPatrimoine -->

    <ng-template #DialogPatrimoine let-modal>
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="DialogPatrimoineLabel">
          {{ dialogPatrimoine.title }}
        </h1>
        <button type="button" class="btn-close" (click)="dialogPatrimoine.Close()"></button>
      </div>
      <div class="modal-body row" *ngIf="dialogPatrimoine.data != null">
        <div class="form-group mb-3 col-md-6" *ngFor="let input of dialogPatrimoine.Inputs">
          <span *ngIf="['text', 'number', 'date'].includes(input.inputOptions.type)">
            <label [for]="input.field">{{ input.header }}</label>
            <input class="form-control" [id]="input.field" [required]="input.inputOptions.required" [type]="input.inputOptions.type" [placeholder]="input.header" [name]="input.field" [min]="input.inputOptions.min" [max]="input.inputOptions.max" [step]="input.inputOptions.step" [(ngModel)]="dialogPatrimoine.data[input.field]" />
          </span>
          <span *ngIf="['select'].includes(input.inputOptions.type)">
            <label [for]="input.field">{{ input.header }}</label>
            <select class="form-control" [id]="input.field" [required]="input.inputOptions.required" [name]="input.field" [(ngModel)]="dialogPatrimoine.data[input.field]">
              <option *ngFor="let item of input.inputOptions.selectData" [value]="item[input.inputOptions.selectValue]">{{ item[input.inputOptions.selectLibelle] }}</option>
            </select>
          </span>
          <span *ngIf="['checkbox'].includes(input.inputOptions.type)">
            <!-- <label [for]="input.field">{{ input.header }}</label> -->
            <!-- <input class="form-control" [id]="input.field" [required]="input.inputOptions.required" type="checkbox" [name]="input.field" [(ngModel)]="dialogPatrimoine.data[input.field]" /> -->
            <div class="form-check form-check-inline checkbox checkbox-dark mb-0">
              <input class="form-check-input" [id]="input.field" [required]="input.inputOptions.required" type="checkbox" [name]="input.field" [(ngModel)]="dialogPatrimoine.data[input.field]" />
              <label class="form-check-label" [for]="input.field">{{ input.header }}</label>
            </div>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="dialogPatrimoine.Submit()">
          <span *ngIf="dialogPatrimoine.isEditing == false">Ajouter</span>
          <span *ngIf="dialogPatrimoine.isEditing == true">Modifier</span>
        </button>
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">Close</button> -->
        <button type="button" class="btn btn-secondary" (click)="dialogPatrimoine.Close()">Fermer</button>
      </div>
    </ng-template>

    <!-- #endregion DialogPatrimoine -->

    <!-- #region DialogPassif -->

    <ng-template #DialogPassif let-modal>
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="DialogPassifLabel">
          {{ dialogPassif.title }}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="dialogPassif.Close()"></button>
      </div>
      <div class="modal-body row" *ngIf="dialogPassif.data != null">
        <div class="form-group mb-3 col-md-6" *ngFor="let input of dialogPassif.Inputs">
          <span *ngIf="['text', 'number', 'date'].includes(input.inputOptions.type)">
            <label [for]="input.field">{{ input.header }}</label>
            <input class="form-control" [id]="input.field" [required]="input.inputOptions.required" [type]="input.inputOptions.type" [placeholder]="input.header" [name]="input.field" [min]="input.inputOptions.min" [max]="input.inputOptions.max" [step]="input.inputOptions.step" [(ngModel)]="dialogPassif.data[input.field]" />
          </span>
          <span *ngIf="['select'].includes(input.inputOptions.type)">
            <label [for]="input.field">{{ input.header }}</label>
            <select class="form-control" [id]="input.field" [required]="input.inputOptions.required" [name]="input.field" [(ngModel)]="dialogPassif.data[input.field]">
              <option *ngFor="let item of input.inputOptions.selectData" [value]="item[input.inputOptions.selectValue]">{{ item[input.inputOptions.selectLibelle] }}</option>
            </select>
          </span>
          <span *ngIf="['checkbox'].includes(input.inputOptions.type)">
            <!-- <label [for]="input.field">{{ input.header }}</label> -->
            <!-- <input class="form-control" [id]="input.field" [required]="input.inputOptions.required" type="checkbox" [name]="input.field" [(ngModel)]="dialogPatrimoine.data[input.field]" /> -->
            <div class="form-check form-check-inline checkbox checkbox-dark mb-0">
              <input class="form-check-input" [id]="input.field" [required]="input.inputOptions.required" type="checkbox" [name]="input.field" [(ngModel)]="dialogPassif.data[input.field]" />
              <label class="form-check-label" [for]="input.field">{{ input.header }}</label>
            </div>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="dialogPassif.Submit()">
          <span *ngIf="dialogPassif.isEditing == false">Ajouter</span>
          <span *ngIf="dialogPassif.isEditing == true">Modifier</span>
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="dialogPassif.Close()">Close</button>
      </div>
    </ng-template>

    <!-- #endregion DialogPassif -->

    <!-- #region DialogBudget -->

    <ng-template #DialogBudget let-modal>
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="DialogBudgetLabel">
          {{ dialogBudget.title }}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="dialogBudget.Close()"></button>
      </div>
      <div class="modal-body row" *ngIf="dialogBudget.data != null">
        <div class="form-group mb-3 col-md-6" *ngFor="let input of dialogBudget.Inputs">
          <span *ngIf="['text', 'number', 'date'].includes(input.inputOptions.type)">
            <label [for]="input.field">{{ input.header }}</label>
            <input class="form-control" [id]="input.field" [required]="input.inputOptions.required" [type]="input.inputOptions.type" [placeholder]="input.header" [name]="input.field" [min]="input.inputOptions.min" [max]="input.inputOptions.max" [step]="input.inputOptions.step" [(ngModel)]="dialogBudget.data[input.field]" />
          </span>
          <span *ngIf="['select'].includes(input.inputOptions.type)">
            <label [for]="input.field">{{ input.header }}</label>
            <select class="form-control" [id]="input.field" [required]="input.inputOptions.required" [name]="input.field" [(ngModel)]="dialogBudget.data[input.field]">
              <option *ngFor="let item of input.inputOptions.selectData" [value]="item[input.inputOptions.selectValue]">{{ item[input.inputOptions.selectLibelle] }}</option>
            </select>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="dialogBudget.Submit()">
          <span *ngIf="dialogBudget.isEditing == false">Ajouter</span>
          <span *ngIf="dialogBudget.isEditing == true">Modifier</span>
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="dialogBudget.Close()">Close</button>
      </div>
    </ng-template>

    <!-- #endregion DialogBudget -->
  </div>
</div>
