// .accordion{
//     --bs-accordion-btn-bg:#7366ff;
// }
.form-check-label {
  font-weight: initial;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.task-column {
  max-width: 300px;
  word-wrap: break-word;
  white-space: normal;
}

.center-content {
  display: flex;
  justify-content: center;
}
.small-button {
  padding: 5px;
}

.modal-body-scrollable {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  width: 100%;
}

.print-btn {
  cursor: pointer;
}



.text-wrap-column {
  max-width: 450px;  
  white-space: normal;  
  word-wrap: break-word;  
}



.swduhuwhgohuswghosudgwhusd{
  object-fit: cover !important;
  height: 111px !important;
  width: 111px !important;
}






.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999999999999999;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.88s ease, visibility 0.4s ease;
}

.loading-overlay.show {
  opacity: 1;
  visibility: visible;
}





.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #7366fe;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
