@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.gradient{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(5,117,230);
    background: radial-gradient(circle, rgba(5,117,230,1) 0%, rgba(2,41,138,1) 85%, rgba(2,27,121,1) 100%);
}
.loginformlogo{
    min-height: 100vh;
}
.loginform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.titlelogin{
    text-align: left;
}
.forminput{
    font-size: 90%;
    font-family: Arial, FontAwesome;
    border-radius: 30vh;
    height: 10vh;
    width: 60vh;
}
.boutton{
     border-radius: 30vh;
    height: 10vh;
}

.forgot-password{
    padding-top: 5%;
}
.forgot-password a{
    
    color: #686868;
}



.mainLoginInput{
    height: 40px;
    padding: 0px;
    font-size: 30px;
    margin: 5px 0;
  }
  
  .mainLoginInput::-webkit-input-placeholder { 
  font-family: FontAwesome;
  
  color: hsl(0, 0%, 67%);
  }
  