<ng-template #addClient let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Nouveau Client</h5>
    <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <!-- <div class="progress mb-3"><div class="progress-bar" role="progressbar" [style.width.%]="currentStep * 50" aria-valuenow="{{ currentStep * 50 }}" aria-valuemin="0" aria-valuemax="100"></div></div> -->
    <div class="steps d-flex justify-content-between mb-3 position-relative">
      <div class="step" [class.active]="currentStep === 1" [class.completed]="currentStep > 1">
        <div class="circle">1</div>
        <div class="label">Prestation</div>
      </div>
      <div class="line"></div>
      <div class="step" [class.active]="currentStep === 2" [class.completed]="currentStep > 2">
        <div class="circle">2</div>
        <div class="label">Vous et votre conjoint</div>
      </div>
      <div class="line"></div>
      <div class="step" [class.active]="currentStep === 3" [class.completed]="currentStep > 3">
        <div class="circle">3</div>
        <div class="label">Proches</div>
      </div>
      <div class="line"></div>
      <div class="step" [class.active]="currentStep === 4">
        <div class="circle">4</div>
        <div class="label">Résumer</div>
      </div>
    </div>

    <form #ClientForm="ngForm" class="form-bookmark needs-validation" id="bookmark-form" novalidate="">
      <ng-container [ngSwitch]="currentStep">
        <!-- #region Step 1 -->
        <div *ngSwitchCase="1" class="row scrollable-block">
          <!--  -->
          <div class="row">
            <div class="row">
              <div class="col-sm-6">
                <h6>Missions</h6>
                <div class="mb-3 m-t-15 custom-radio-ml">
                  <div *ngFor="let mission of Missions" class="radio radio-primary">
                    <input class="form-check-input fw-normal" [id]="mission.MissionId" type="radio" name="radio1" [checked]="selectedMission === mission.Designation" [value]="mission.Designation" [disabled]="mission.Designation !== 'Installation au Maroc' && mission.Designation !== 'Installation en France'" (change)="onSelectionChange($event, mission.MissionId)" />
                    <label class="form-check-label fw-normal" [for]="mission.MissionId">{{ mission.Designation }}</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="d-flex align-items-center">
                  <h6>Prestations</h6>
                </div>
                <div *ngIf="showPrestations">
                  <div class="form-group mb-6 col-md-6">
                    <div class="form-check mb-0" *ngFor="let prestation of Prestations">
                      <p class="form-check-label">{{ prestation.Designation }}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="!showPrestations">
                  <div class="form-group mb-8 col-md-8">
                    <div class="form-check mb-0">
                      <p class="form-check-label Paucuneprestation">Aucune prestation pour le moment</p>
                    </div>
                  </div>
                  <!-- <p></p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #endregion Step 1 -->
        <!-- #region Step 2 -->
        <div *ngSwitchCase="2" class="row scrollable-block">
          <div class="form-group mb-3 col-md-6">
            <label for="con-name">Nom</label>
            <input class="form-control" id="con-name" type="text" required="" placeholder="Nom" autocomplete="off" name="Nom" [(ngModel)]="clientData.Nom" />
          </div>
          <div class="form-group mb-3 col-md-6">
            <label for="con-last">Prénom</label>
            <input class="form-control" id="con-last" type="text" required="" placeholder="Prénom" autocomplete="off" name="Prenom" [(ngModel)]="clientData.Prenom" />
          </div>

          <div class="form-group mb-3 col-md-6">
            <label for="dob">Date de naissance</label>
            <input class="form-control" id="dob" type="date" required="" name="DateNaissance" [(ngModel)]="clientData.DateNaissance" />
          </div>
          <div class="form-group mb-3 col-md-6">
            <label for="profession">Profession</label>
            <input class="form-control" id="profession" type="text" required="" placeholder="Profession" name="Profession" [(ngModel)]="clientData.Profession" />
          </div>
          <div class="form-group mb-3 col-md-6">
            <label for="situation">Situation familiale</label>
            <select class="form-control" id="situation" required="" name="SituationFamiliale" [(ngModel)]="clientData.SituationFamiliale">
              <option value="Marié">Marié</option>
              <option value="Célibataire">Célibataire</option>
              <option value="Divorcé">Divorcé</option>
              <option value="Veuf">Veuf</option>
              <option value="Union libre">Union libre</option>
              <option value="PACS">PACS</option>
            </select>
          </div>
          <div *ngIf="clientData.SituationFamiliale === 'Marié'" class="form-group mb-3 col-md-6">
            <label for="matrimonial-regime">Régime matrimonial</label>
            <input class="form-control" id="matrimonial-regime" type="text" placeholder="Régime matrimonial" name="RegimeMatrimonial" [(ngModel)]="clientData.RegimeMatrimonial" />
          </div>
          <div *ngIf="clientData.SituationFamiliale !== 'Marié'" class="form-group mb-3 col-md-6"></div>

          <div class="form-group mb-3 col-md-6">
            <label for="retirement">Date de départ en retraite</label>
            <input class="form-control" id="retirement" type="date" required="" name="DateRetraite" [(ngModel)]="clientData.DateRetraite" />
          </div>
          <!-- <div class="form-group mb-3 col-md-6">
            <label for="ssn">Numéro SS</label>
            <input class="form-control" id="ssn" type="text" required="" placeholder="Numéro SS" name="NumeroSS" [(ngModel)]="clientData.NumeroSS" />
          </div> -->
          <div class="form-group mb-3 col-md-6" [formGroup]="ssnForm">
            <label for="ssn">Numéro SS</label>
            <input class="form-control" id="ssn" type="text" required placeholder="Numéro SS" formControlName="NumeroSS" />
            <div *ngIf="ssnForm.get('NumeroSS').invalid && (ssnForm.get('NumeroSS').dirty || ssnForm.get('NumeroSS').touched)">
              <div *ngIf="ssnForm.get('NumeroSS').errors?.required">Le numéro SS est requis.</div>
              <div *ngIf="ssnForm.get('NumeroSS').errors?.ssnInvalid">Le format du numéro SS est invalide (13 chiffres/2 chiffres).</div>
            </div>
          </div>

          <div class="form-group mb-3 col-md-6">
            <label for="address">Adresse</label>
            <input class="form-control" id="address" type="text" required="" placeholder="Adresse" name="Adresse" [(ngModel)]="clientData.Adresse" />
          </div>
          <div class="form-group mb-3 col-md-6">
            <label for="con-mail">Email 1</label>
            <input class="form-control" id="con-mail" type="email" required="" placeholder="Email1" autocomplete="off" name="Email1" [(ngModel)]="clientData.Email1" />
          </div>
          <div class="form-group mb-3 col-md-6">
            <label for="con-mail">Email 2</label>
            <input class="form-control" id="con-mail" type="email" required="" placeholder="Email2" autocomplete="off" name="Email2" [(ngModel)]="clientData.Email2" />
          </div>
          <div class="form-group mb-3 col-md-6">
            <label for="con-phone">Téléphone 1</label>
            <input class="form-control" id="con-phone" type="text" required="" placeholder="Téléphone1" autocomplete="off" name="Telephone1" [(ngModel)]="clientData.Telephone1" />
          </div>

          <div class="form-group mb-3 col-md-6">
            <label for="con-phone">Téléphone 2</label>
            <input class="form-control" id="con-phone" type="text" required="" placeholder="Téléphone2" autocomplete="off" name="Telephone2" [(ngModel)]="clientData.Telephone2" />
          </div>
          <div class="form-group mb-3 col-md-6 row">
            <label>Avez-vous un conjoint?</label>
            <div class="form-check col">
              <input class="form-check-input" type="radio" name="hasConjoint" id="hasConjointYes" value="oui" [(ngModel)]="clientData.hasConjoint" (click)="startAddConjoint()" />
              <label class="form-check-label" for="hasConjointYes"> Oui </label>
            </div>
            <div class="form-check col">
              <input class="form-check-input" type="radio" name="hasConjoint" id="hasConjointNo" value="non" [(ngModel)]="clientData.hasConjoint" (click)="cancelAddConjoint()" />
              <label class="form-check-label" for="hasConjointNo"> Non </label>
            </div>
          </div>

          <div class="row" *ngIf="clientData.hasConjoint === 'oui' && newConjoint != null">
            <div class="form-group mb-3 col-md-6">
              <label for="conjoint-nom">Nom du conjoint</label>
              <input class="form-control" id="conjoint-nom" type="text" placeholder="Nom du conjoint" name="ConjointName" [(ngModel)]="newConjoint.Nom" />
            </div>
            <div class="form-group mb-3 col-md-6">
              <label for="conjoint-prenom">Prénom du conjoint</label>
              <input class="form-control" id="conjoint-prenom" type="text" placeholder="Prénom du conjoint" name="ConjointPrenom" [(ngModel)]="newConjoint.Prenom" />
            </div>
            <div class="form-group mb-3 col-md-6">
              <label for="conjoint-dob">Date de naissance du conjoint</label>
              <input class="form-control" id="conjoint-dob" type="date" name="ConjointDateNaissance" [(ngModel)]="newConjoint.DateNaissance" />
            </div>
            <div class="form-group mb-3 col-md-6">
              <label for="conjoint-profession">Profession du conjoint</label>
              <input class="form-control" id="conjoint-profession" type="text" placeholder="Profession du conjoint" name="ConjointProfession" [(ngModel)]="newConjoint.Profession" />
            </div>
            <div class="form-group mb-3 col-md-6">
              <label for="conjoint-retirement">Date de départ en retraite du conjoint</label>
              <input class="form-control" id="conjoint-retirement" type="date" name="ConjointDateRetraite" [(ngModel)]="newConjoint.DateRetraite" />
            </div>
            <div class="form-group mb-3 col-md-6">
              <label for="conjoint-ssn">Numéro SS du conjoint</label>
              <input class="form-control" id="conjoint-ssn" type="text" placeholder="Numéro SS du conjoint" name="ConjointNumeroSS" [(ngModel)]="newConjoint.NumeroSS" />
            </div>
            <div class="form-group mb-3 col-md-6">
              <label for="marriage-date">Date de mariage</label>
              <input class="form-control" id="marriage-date" type="date" name="DateMariage" [(ngModel)]="newConjoint.DateMariage" />
            </div>
            <div class="form-group mb-3 col-md-6">
              <label for="conjoint-adresse">Adresse</label>
              <input class="form-control" id="conjoint-adresse" type="text" name="ConjointAdresse" [(ngModel)]="newConjoint.Adresse" />
            </div>
            <div class="form-group mb-3 col-md-6">
              <label for="matrimonial-regime">Régime matrimonial</label>
              <input class="form-control" id="matrimonial-regime" type="text" placeholder="Régime matrimonial" name="RegimeMatrimonial" [(ngModel)]="newConjoint.RegimeMatrimonial" />
            </div>
            <div class="form-group mb-3 col-md-6">
              <label for="donation-epoux">Donation entre époux</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="DonationEpoux" id="donationEpouxYes" value="Oui" [(ngModel)]="newConjoint.DonationEpoux" />
                <label class="form-check-label" for="donationEpouxYes"> Oui </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="DonationEpoux" id="donationEpouxNo" value="Non" [(ngModel)]="newConjoint.DonationEpoux" />
                <label class="form-check-label" for="donationEpouxNo"> Non </label>
              </div>
            </div>
            <div class="form-group mb-3 col-md-6">
              <label for="modif-regime">Si Modification du régime et date</label>
              <textarea class="form-control" id="modif-regime" type="text" placeholder="Si modifi Régime matrimonial" name="modifregimedate" [(ngModel)]="newConjoint.ModifRegimeDate"></textarea>
            </div>
            <div class="form-group mb-3 col-md-12">
              <label for="quest-comp">Question complémentaires</label>
              <p>S'il y a eu des mariages précédents : quelle est la date du mariage ? Quelle est la durée des mariages précédents ? Quelles est la situation du premier conjoint ? Quelles conséquences financières du jugement de divorce ?</p>
              <textarea class="form-control" id="quest-comp" type="text" placeholder="Réponse ..." name="questcomp" [(ngModel)]="newConjoint.QuestComp"></textarea>
            </div>
            <div class="form-group mb-3 col-md-12">
              <button class="btn btn-secondary" (click)="submitAddConjoint()">Ajouter conjoint</button>
            </div>
          </div>
        </div>
        <!-- #endregion Step 2 -->

        <!-- #region Step 3 -->
        <div *ngSwitchCase="3" class="row scrollable-block">
          <div class="row" *ngIf="newProche != null">
            <div class="row">
              <div class="form-group mb-3 col-md-6">
                <label for="child-nom">Nom *</label>
                <input class="form-control" id="child-nom" type="text" placeholder="Nom" name="ChildNom" [(ngModel)]="newProche.Nom" />
              </div>
              <div class="form-group mb-3 col-md-6">
                <label for="child-prenom">Prénom *</label>
                <input class="form-control" id="child-prenom" type="text" placeholder="Prénom" name="ChildPrenom" [(ngModel)]="newProche.Prenom" />
              </div>
              <div class="form-group mb-3 col-md-6">
                <label for="child-date">Date de naissance</label>
                <input class="form-control" id="child-date" type="date" placeholder="Date de naissance" name="ChildDate" [(ngModel)]="newProche.Date" />
              </div>
              <div class="form-group mb-3 col-md-6">
                <label for="child-parent">Lien de parenté *</label>
                <input class="form-control" id="child-parent" type="text" placeholder="Enfant / petit enfant / parent" name="ChildParent" [(ngModel)]="newProche.LienParente" />
              </div>
              <div class="form-group mb-3 col-md-6">
                <label for="child-charge">A charge fiscalement</label>
                <input class="form-control" id="child-charge" type="text" placeholder="Oui / Non" name="ChildCharge" [(ngModel)]="newProche.Charge" />
              </div>
              <div class="form-group mb-3 col-md-6">
                <label for="child-particularite">Particularités *</label>
                <input class="form-control" id="child-particularite" type="text" placeholder="Adoption / invalidité / etc ..." name="ChildParticularite" [(ngModel)]="newProche.Particularite" />
              </div>
              <div class="form-group mb-3 col-md-6">
                <label for="child-nchild">Nombres d'enfants</label>
                <input class="form-control" type="number" placeholder="Nombres d'enfants" name="NombreEnfant" [(ngModel)]="newProche.NombreEnfant" />
              </div>
              <div class="form-group mb-3 col-md-6">
                <label for="child-comment">Commentaire</label>
                <textarea class="form-control" id="child-comment" type="text" placeholder="votre commentaire" name="ChildComment" [(ngModel)]="newProche.Commentaire"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <button class="btn btn-primary" (click)="submitAddProche()">Ajouter</button>
              </div>
              <div class="col-md-2">
                <button class="btn btn-secondary" (click)="cancelAddProche()">Annuler</button>
              </div>
            </div>
          </div>

          <div *ngIf="newProche == null">
            <!-- <div *ngIf="clientData.Proches.length > 0" > -->
            <!-- <h3>Proches :</h3> -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Date de naissance</th>
                  <th>Lien de parenté</th>
                  <th>A charge fiscalement</th>
                  <th>Particularités</th>
                  <th>Nombres d'enfants</th>
                  <!-- <th>Commentaire</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="clientData.Proches.length == 0">
                  <td colspan="7" align="center"><i>Aucun proche</i></td>
                </tr>
                <tr *ngFor="let proche of clientData.Proches">
                  <td>{{ proche.Nom }}</td>
                  <td>{{ proche.Prenom }}</td>
                  <td>{{ proche.DateNaissance | date : "dd/MM/yyyy" }}</td>
                  <td>{{ proche.Parent }}</td>
                  <td>{{ proche.Charge == true ? "Oui" : "Non" }}</td>
                  <td>{{ proche.Particularite }}</td>
                  <td>{{ proche.NombreEnfant }}</td>
                  <!-- <td>{{ proche.Commentaire }}</td> -->
                </tr>
              </tbody>
            </table>

            <button class="btn btn-primary" (click)="startAddProche()">Ajouter un proche</button>

            <!-- <ul>
              <li *ngFor="let child of clientData.Proches">
                {{ child.Nom }} {{ child.Prenom }} - {{ child.Date }} - {{ child.Parent }} - {{ child.Charge }} - {{ child.Particularite }} - {{ child.Nchild }} - {{ child.Comment }}
              </li>
            </ul> -->
          </div>
        </div>
        <!-- #endregion Step 3 -->
        <!-- #region Step 4 -->
        <div *ngSwitchCase="4" class="row scrollable-block">
          <div class="card-body default-accordion">
            <div ngbAccordion>
              <!-- [collapsed]="false" -->
              <div ngbAccordionItem *ngFor="let prestation of Prestations">
                <h3 ngbAccordionHeader>
                  <button ngbAccordionButton class="bg-primary text-white">
                    <input class="checkbox_animated" type="checkbox" (click)="$event.stopPropagation()" [checked]="prestationStates[prestation.PrestationId]" (change)="toggleAllTaches(prestation.PrestationId, $event.target.checked)" />
                    {{ prestation.Designation }}
                  </button>
                </h3>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <div *ngFor="let tache of Taches">
                      <div class="card-body animate-chk fw-normal">
                        <div class="row fw-normal">
                          <div *ngIf="tache && tache.PrestationId === prestation.PrestationId" class="col fw-normal">
                            <label class="d-block fw-normal" [for]="tache.TacheId">
                              <input class="checkbox_animated fw-normal" [id]="tache.TacheId" [name]="tache.TacheId" type="checkbox" [checked]="tacheStates[tache.TacheId]" (change)="toggleTache(tache.TacheId, $event.target.checked)" />
                              {{ tache.Intitule }}
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #endregion Step 4 -->
      </ng-container>
      <div class="d-flex justify-content-between mt-3" *ngIf="newProche == null">
        <button *ngIf="currentStep > 1" class="btn btn-secondary" type="button" (click)="previousStep()">Précédent</button>
        <button class="btn btn-primary mt-3" type="button" (click)="modal.dismiss('Cross click')">Annuler</button>

        <button *ngIf="currentStep < 4" class="btn btn-secondary" type="button" (click)="nextStep()">Suivant</button>
        <button *ngIf="currentStep === 4" class="btn btn-success" type="button" (click)="onSave()">Enregistrer</button>
      </div>
      <!-- <button class="btn btn-primary mt-3" type="button" (click)="modal.dismiss('Cross click')">Annuler</button> -->
    </form>
  </div>
</ng-template>
